/*Mentions settings*/

.header__58a85 .tab_a8a066 {
    /*Tab settings*/
    color: rgba(var(--server-channel-textc), 0.2);
    transition: 0.25s ease;
}
.header__58a85 .tabBar__2aa8e .tab_a8a066:hover {
    /*Hovered tab*/
    background-color: transparent !important;
    color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.header__58a85 .tabBar__2aa8e .tab_a8a066.active__7e7af {
    /*Selected tab*/
    background-color: transparent !important;
    color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.secondary__45d4f {
    /*Filter button*/
    color: rgba(var(--server-channel-textc), 0.35);
    background-color: transparent;
    transition: 0.25s ease;
}
.secondary__45d4f:hover:not(.disabled__4d064) {
    /*Filter button hovered*/
    background-color: transparent;
    color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.channelHeader_ea0f89,
.messageContainer_cb3d47 {
    /*Mentions*/
    background-color: transparent;
}
.button__292b6 {
    /*Close mention button*/
    background-color: transparent;
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.tertiary_ad6d80:hover:not(.disabled__4d064) {
    /*Close mention button hovered*/
    background-color: transparent;
    color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.jumpButton__6c38c {
    /*Jump to message buton*/
    background-color: transparent;
    color: rgba(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.jumpButton__6c38c:hover {
    /*Jump to message buton*/
    color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
