@use "meta";
@use "../../src/settingsIcons";

/* Root Variables */
:root {
    --channel-color: #293f47; /* Selected channel and background color | Default #293f47;*/
    --chat-color: #070707; /* Backgroung color for chat | Default #070707*/
    --chat-shadow-color: #293f47; /*Color for the chat box shadow | Default #293f47*/
    --button-color: #293f47; /*Color for some of the buttons | Default #293f47*/
    --activity-color: #181717; /*Color for the activity bar | Default #181717*/
    --background-primary: #030303; /* Primary theme color | Default #030303*/
    --background-secondary: #030303; /*Secondary theme color | Default #030303*/
}

/*Theme Variables*/
.theme-dark, .theme-light {
    --chat-scrollbar-width: 20px; /*Changes the scrollbar width on chat | Default 20px*/
    --scrollbar-thumb: #293f47; /*Changes the scrollbar base color | Default #293f47*/
    --background-floating: #030303; /*Right click on user floating background | Default #030303*/
    --background-modifier-hover: #293f47; /*Changes the hover on users color | Default #293f47*/
    --background-message-hover: #293f4757; /*Changes the background of the hovered messages in chat | Default #293f4757*/
    --text-muted: #63a4a8; /*Changes the color of the font of some parts of the Theme (search bar, etc) | Default #63a4a8*/
    --text-link: #8dfce9; /*Changes the color of the links | Default #8dfce9*/
    --channels-default: #afafaf; /*Changes the color of the channel names | Default #afafaf*/
    --blue-hue-elements: #63a4a8; /*Color code for some parts of the theme | Default #63a4a8*/
    --background-modifier-accent: #293f47; /*Color for the lines separating some elements of some menus | Default #293f47*/
}

/*Message selection settings*/
.theme-dark ::selection {
    background-color:  hsla(193, 10%, 17%, 0.925); /*Changes the background when selecting a message on the chat*/
    color: #7bcbeb; /*Changes the color of the words of the selected message*/
}

/*Auto scrollbar settings*/

.theme-dark ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
.theme-dark ::-webkit-scrollbar-track {
    background-color: transparent;
}

/*Friends list settings*/
.peopleList-2VBrVI {
    background-color: var(--background-primary); /*Changes the background of the friends list*/
    /*Creates a shadow that wraps the friends box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    overflow: auto !important;
}
.selected-1-Z6gm .layout-1qmrhw{
    background-color: #293f4757;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG{
    text-align: center;
    border-radius: 20px;
}
.input-3r5zZY{
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread-1_MVDK{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe{
    background: transparent;
}
.wrapper-5BaSTh{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    max-width: 100%!important;
}
.peopleListItem-u6dGxF{
    border-top: 1px solid var(--channel-color);
}
.topPill-3DJJNV .item-3XjbnG{
    border-radius: 0px;
    border-bottom: 1.5px solid white;
    color: white;
}
.tabBar-ra-EuL .item-3mHhwr[aria-controls="ADD_FRIEND-tab"]{
    background-color: transparent!important;
}
.tabBar-ra-EuL .item-3mHhwr[aria-selected=true]{
    background-color: transparent!important;
    color: var(--blue-hue-elements)!important;
    border-bottom-color: var(--blue-hue-elements)!important;
}
.topPill-3DJJNV .item-3XjbnG:hover{
    background-color: transparent!important;
    border-radius: 0px;
    border-bottom: 1.5px solid var(--blue-hue-elements);
    color: var(--blue-hue-elements)!important;
}

/*Active Now settings*/
.nowPlayingColumn-1eCBCN {
    background-color: rgb(16, 16, 17) /*Changes the background of the Now Active/Playing column*/
}
.wrapper-2RrXDg {
    background-color: rgb(16, 16, 17); /*Changes the color of the the Active Status*/
    border:1px solid var(--channel-color);
    border-radius: 20px;
}
.wrapper-2RrXDg .textContent-TsKzji {
    color: white; /*Changes the font color of the Now Active/Playing boxes*/
    text-align: unset!important;
}
.section-3G9aLW {
    border: 2px solid var(--channel-color);
    border-radius: 20px;
    background-color: rgb(16, 16, 17);
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: var(rgb(16, 16, 17));
    border: 2px solid var(--channel-color);
}
.theme-dark .partyMemberOverflow-3G1oZz{
    background-color: var(--channel-color);
}
.theme-dark .outer-2JOHae.active-1W_Gl9{
    background-color: var(rgb(16, 16, 17));
}
.wrapper-2RrXDg:hover{
    background-color: rgb(16, 16, 17)!important;
}
.theme-dark .separator-2OaeRP{
    height: 3.5px;
    background-color: transparent;
}
.theme-dark .inset-SbsSFp{
    background-color: rgb(16, 16, 17);
}
.header-13Cw0- {
    position: relative;
    padding-bottom: 0px;
    text-align: center;
    color: var(--blue-hue-elements);
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}
.header-13Cw0-::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0;
}
.header-13Cw0-::after{
    background-image: linear-gradient(to right, transparent, rgba(17, 17, 17, 0.5),var(--chat-shadow-color),rgba(17, 17, 17, 0.5),transparent);
}
.nowPlayingScroller-12BxFW {
    overflow: auto !important;
}
.emptyCard-KDifrB{
    background-color: transparent;
    margin-top: -10px;
}
.scroller-hE2gWq {
    border: none;
}

/*Top Bar settings*/
.withFrame-2dL45i {
    background-color: var(--background-primary); /*Changes the color of the top bar*/
    margin-top: 0px;
}
.wordmarkWindows-2dq6rw {
    color: transparent; /*Hides the "Discord" text on the bar*/
}

/*Chat settings*/
.chatContent-3KubbW{
    background-color: var(--chat-color);
    /*Creates a shadow that wraps the chat box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.form-3gdLxP:before {
    height: 0rem;
}
.header-1w9Q93 {
    background-color: var(--background-primary);
}
.messagesPopoutWrap-3zryHW{
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.messageGroupWrapper-1jf_7C{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
} 
.menu-1QACrS{
    border-radius: 20px;
}
.operations-3q3u6E>a{
    color: #7bcbeb;
}
.contents-2MsGLg.channelTextArea-220_Gz.channelTextArea-1VQBuV{
    background-color: #111314d0;
    border: 2px solid;
    border-color: #111314d0;
    border-radius: 20px;
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy{
    background-color: var(--channel-color);
}
.container-2ebMPP{
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.colorStatusGreen-2HKYOW {
    color: var(--blue-hue-elements);
}
.layers-OrUESM.layers-1YQhyW{
    background-color: var(--channel-color)!important;
}
.peopleColumn-1wMU14{
    background-color: var(--background-primary);
}
.wrapper-1cBijl{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled{
    color: white;
    background-color: var(--blue-hue-elements);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover{
    color: white!important;
    background-color: var(--channel-color)!important;
}
.wrapper-1cBijl{
    color:white!important;
}
.container-2sjPya>*{
    border-color: var(--channel-color)!important;
    border-radius: 20px;
}
.cozy-VmLDNB.wrapper-30-Nkg:hover{
    background-color: #293f471f!important;
}
.wrapper-1HIH0j{
    border: 1px solid var(--blue-hue-elements);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.content-3spvdd{
    background-color: var(--chat-color);
}
.isUnread-3Lojb- .content-3spvdd{
    color: var(--blue-hue-elements);
}
.wrapper-1ZcZW-{
    color: var(--blue-hue-elements)!important;
    background-color: #293f4757!important;
}
.wrapper-1ZcZW-:hover{
    color: var(--blue-hue-elements)!important;
    background-color: var(--channel-color)!important;
}
.wrapper-2SplAX{
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-right: 5px solid var(--channel-color);
    border-left: 5px solid var(--channel-color);
    border-radius: 15px;
    width: auto;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
    background-color: var(--activity-color);
}
.embedFull-1HGV2S{
    border-left: 2px solid;
    border-right: 2px solid;
}
.markup-eYLPri code {
    background-color: #03030373;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.cancelButton-oOSTov, .downloadButton-2HLFWN {
    color: inherit;
}
.mentioned-Tre-dv {
    background-color: #63a5a818;
}
.mentioned-Tre-dv:before{
    background-color: #63a5a8be
}
.jumpToPresentBar-1cEnH0{
    background-color: transparent;
    bottom: 3px;
}
.scrollableContainer-15eg7h {
    background-color: var(--activity-color);
    border: 5px solid var(--channel-color);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 15px;
}
.divider-2rZFJK{
    border-top: thin solid var(--channel-color);
}
.replying-eZ7p5z:before {
    background-color: rgb(0, 255, 255)
}
.replying-eZ7p5z {
    background-color: rgba(0, 225, 255, 0.05)
}
.colorBrand-21Le_q {
    color: var(--blue-hue-elements);
}
.blockquoteContainer-3VtvI1 blockquote {
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
    border-radius: 0 8px 8px 0px;
}
.blockquoteDivider-363utW {
    background-color: var(--blue-hue-elements);
}
.markup-eYLPri code.inline {
    background-color: #63a5a824;
}
.hljs-comment, .hljs-quote {
    color: #7dce83
}
.theme-dark .autocomplete-3NRXG8 { /*Slash command panel*/
    border: 2px var(--channel-color) solid;
    border-radius: 20px;
    background-color: var(--chat-color);
}
.categoryHeader-OpJ1Ly { /*Slash command panel header*/
    background-color: var(--chat-color);
}
.builtInSeparator-2rCueY { /*Slash command panel divider*/
    border-bottom: unset;
}

/*Autocomplete*/
.autocomplete-3l_oCd {
    background-color: var(--background-primary)!important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;;
}
.theme-dark .selected-3H3-RC {
    background-color: var(--channel-color);
}
.emojiBackground-wnY1bZ {
    background: transparent;
}

/*Listening along*/
.listeningAlong-6YvYsc{
    background-color: var(--background-primary);
    border-bottom: 0px;
}

/*Notice message*/
.notice-1x8lm-{
    background-color: var(--background-primary)!important;
    border-radius: 0px;
}
.lookOutlined-3yKVGo.colorWhite-1H92hK{
    border: 1px solid #293f4757;
    background-color: #293f4757!important;
}
.formFieldWrapper-2LV3S6 {
    border-radius: 20px;
}
.formFieldWrapper-2LV3S6, .settingsFormFieldWrapper-U99c9i{
    border: 1px solid var(--channel-color);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:disabled {
    background-color: var(--activity-color);
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 20px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
}
.termsRowContent-2Qx-E5 {
    color: white;
}

/*Mute/Deafen/Settings bar settings*/
.container-YkUktl {
    background-color: var(--background-primary); /*Changes the color*/
    margin: 0px; /*Removes a little margin bar that's left over*/
}

/*New Unread Messages Box Channel List Box*/
.unread-2wipsx {
    background-color: #293f47;
    opacity: 0.99;
}

/*Message Box*/
.channelTextArea-1FufC0{
    margin-bottom: 20px;
    background-color: var(--chat-color);
}
.channelTextArea-1FufC0 .scrollableContainer-15eg7h{
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 15px;
}

/*In call activity box*/
.container-1zzFcN{
    background-color: var(--background-primary);
    border-bottom: 0px;
}
.panel-2ZFCRb{
    background-color: var(--background-primary);
    border-bottom: 0px;
}
.badge-3RBqXG {
    background-color: var(--channel-color);
    color: white;
}
.liveSmall-1Urjcy {
    background-color: var(--blue-hue-elements)!important;
}


/*Share screen and Video buttons*/
.button-1EGGcP {
    border-radius: 0px;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx{
    background-color: #293f4757;
}
.button-1EGGcP:disabled{
    background-color: var(--activity-color)!important;
    border: 20px;
}

/*User card settings*/
.userPopout-3XzG_A{
    border: 3px solid var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background-color: var(--background-primary);
    overflow: auto !important;
}
.headerTop-3C2Zn0 {
    background-color: var(--background-primary);
}
.activity-11LB_k {
    background-color: var(--background-primary);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.input-2g-os5 {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus{
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.inputDefault-3FGxgL{
    text-align: center;
}
.textarea-_59yqs{
    height: 40px !important;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--channel-color);
    text-align: center;
}
.textarea-_59yqs:focus {
    background-color: var(--chat-color-color);
}
.role-2TIOKu {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 6px 6px 0;
    padding: 4px;
}
.botTag-7aX5WZ {
    background-color: var(--channel-color);
    color: white;
}
.note-3HfJZ5{
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    margin-left: -4px!important;
    margin-right: 6px!important;
}
.nameNormal-2fPMD2{
    text-align: unset!important;
}
.divider-1wtgZ3 {
    background-color: transparent;
}
.input-2z42oC {
    background-color: transparent;
}

/*Server role settings*/
.membersGroup-2eiWxl {
    text-align: center;
    color: var(--blue-hue-elements);
    position: relative;
    text-shadow: -1px -1px 0 rgb(37, 37, 37), 1px -1px 0 rgb(37, 37, 37), -1px 1px 0 rgb(37, 37, 37), 1px 1px 0 rgb(37, 37, 37);
}
.membersGroup-2eiWxl::after {
    position: absolute;
    content:'';
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0;
}
.membersGroup-2eiWxl::after {
    background-image: linear-gradient(to right, transparent, rgba(17, 17, 17, 0.5),var(--chat-shadow-color),rgba(17, 17, 17, 0.5),transparent);
}

/*Various bars*/
.searchBar-zdmu7v{
    background-color: var(--activity-color);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    padding-left: 40px;
}
.platform-win .sidebar-1tnWFu{
    border-radius: 0 0 0;
}

/* Stream volume bar*/ 
.mediaBarGrabber-FvJKJg, .mediaBarProgress-38I317, .mediaBarProgress-38I317:after, .mediaBarProgress-38I317:before{
    background-color: var(--blue-hue-elements)!important;
}

/*Stream*/
.segmentControlOption-2LyihQ {
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.segmentControlOption-2LyihQ:hover {
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.theme-dark .selected-2xa993 {
    border-bottom-color: var(--blue-hue-elements)!important;
}
.theme-dark .streamPreview-3qoMP4 {
    background-color: var(--background-primary);
    border: 3px solid var(--channel-color);
    border-radius: 20px;
}
.inline-1zjmuk .pro-3GwLMX {
    color: var(--blue-hue-elements)!important;
}
.inline-1zjmuk .tip-Jl__cG, .tip-Jl__cG {
    color: white!important;
}
.theme-dark .watchButton-2v6cPT {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.card-1SdQ2-{
    border-color: var(--channel-color);
    border-radius: 15px;
}
.tile-2TcwiO {
    background: transparent;
}
.group-1_ptLP {
    border: unset;
}
.selectorButtonSelected-3Z0WNU{
    background-color: var(--channel-color);
}
.selectorButton-3sW6Qm:hover{
    background-color: var(--channel-color)!important;
}
.disabledButtonOverlay-1_LsqE{
    background: transparent!important;
    border-radius: 20px!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    border-radius: 20px;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled{
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    border-radius: 20px;
}
.theme-dark .item-2OyinQ {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.selectorTextSelected-6vUbIH {
    color: white!important;
}

/*Picture in picture*/
.pictureInPictureWindow-3ms5Zy {
    border: 2px solid var(--channel-color);
    border-radius: 20px;
}

/*Various buttons*/
.button-12Fmur:hover{
    background-color: var(--channel-color)!important;
}
.button-3Vyz67 {
    background: transparent;
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.button-3Vyz67:hover {
    background: var(--channel-color);
}
.inviteRowButton-3hcOhY {
    margin-right: 15px;
    color: var(--blue-hue-elements)!important;
    border-color: var(--channel-color)!important;
    border-radius: 5px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.css-o3gndj-placeholder {
    margin-left: 8px;
    color: white;
}
.inputWrapper-1YNMmM {
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset!important;
    border-color: var(--chat-shadow-color);
    border-radius: 0px;
}
.jumpButton-1ZwI_j{
    border-color: var(--channel-color)!important;
    border-radius: 5px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.jumpButton-1ZwI_j:hover{
    background-color: var(--channel-color);
}

/*New Messages line & bar*/
.group-spacing-16.divider-IqmEqJ {
    margin-top: 4px;
    margin-bottom: 4px;
}
.isUnread-3Lojb- {
    border-color: var(--channel-color);
}
.unreadPill-3nEWYM {
    background-color: var(--channel-color);
}
.unreadPillCapStroke-1nE1Q8 {
    color: var(--channel-color);
    fill: var(--channel-color);
}
.newMessagesBar-1hF-9G {
    background-color: var(--channel-color);
}
.barButtonMain-2GIx4o{
    background-color: var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.barButtonAlt-TQoCdZ {
    background-color: var(--channel-color);
    border-radius: 20px;
}

/*Emojis and emotes tab*/
.list-obNEuP{
    background-color: var(--background-primary);
}
.unicodeShortcut-3N8oDe{
    background-color: var(--background-primary);
}
.inspector-DFKXwB{
    background-color: var(--background-primary);
}
.contentWrapper-3vHNP2{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.navItem-3McpmW{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.navButtonActive-1EqC5l {
    border-radius: 20px;
    background-color: var(--channel-color);
}
.inner-1NoIT5{
    background-color: var(--chat-color);
    border: 1px solid var(--channel-color);
}
.button-1zW0-r{
    background-color: var(--background-primary)!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.theme-dark .categoryFadeBlurple-1HuV1x, .theme-light .categoryFadeBlurple-1HuV1x {
    background-color: #293f47cc!important;
}
.theme-dark .categoryFade-2EGqIh:hover {
    border-color: var(--channel-color);
}
.inner-2pOSmK {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.theme-dark .emptyHintCard-3Btf0V {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary)!important;
}
.emojiSection-3QtaWO{
    background-color: var(--background-primary);
    border: 2px solid var(--channel-color);
    border-radius: 20px;
}
.popoutContainer-2wbmiM {
    background: transparent;
}
.emojiName-3KEqts {
    color: white!important;
    text-align: center;
}
.size14-3fJ-ot {
    text-align: center;
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: var(--channel-color);
}

/*Nitro Gifting page*/
.content-2eQb8J {
    border-radius: 2px;
    border: 1px solid var(--channel-color);
    background-color: var(--background-primary);
}
.horizonal-2R4X-v .button-3WZC0G{
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
}
.scroller-2M3eAB{
    overflow: auto !important;
}
.breadcrumbsWrapper--2LhnQ {
    border-bottom: 1px solid var(--channel-color);
}

/*Settings*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ{
    text-align: center;
    border-radius: 20px;

    background-color: var(--channel-color);
}
.lookFilled-yCfaCM.colorGrey-2iAG-B{
    background-color: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover{
    background-color: var(--channel-color);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active{
    background-color: #293f4757;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover{
    background-color: #293f4757;
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG{
    background-color: #293f4757;
}
div.sidebarRegion-1VBisG{
    color: var(--blue-hue-elements) !important;
    background-color: var(--background-primary) !important;
}
.theme-dark .codeRedemptionRedirect-3SBiCp{
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.scroller-1bVxF5{
    height: auto;
    width: auto;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 0px;
    border-radius: 20px;    
}
.colorDefault-CDqZdO.focused-3qFvc8{
    background-color: var(--channel-color);
}
.layer-2aCOJ3{
    height: auto;
}
.colorDefault-CDqZdO:active:not(.hideInteraction-1iH010){
    background-color: #293f4757 !important;
}
.colorDanger-3n-KnP.focused-3qFvc8{
    background-color: #f04747 !important;
}
.theme-dark .root-g14mjS{
    border: 0px solid #293f47!important;
    background-color: #030303;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.theme-light .root-g14mjS{
    -webkit-box-shadow: 0 0 0 0px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 0 0px rgba(185,187,190,.3), 0 2px 10px 0 rgba(0,0,0,.1);
}
.theme-dark .footer-31IekZ{
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent!important;
    -webkit-box-shadow: inset 0 0px 0 rgba(47,49,54,.6);
    overflow: auto !important;
}
.theme-light .footer-31IekZ{
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent!important;
    -webkit-box-shadow: inset 0 0px 0 rgba(47,49,54,.6);
    overflow: auto !important;
}
.content-2hZxGK{
    overflow: auto !important;
}
.item-2idW98[aria-checked=true]{
    background-color: var(--background-primary);
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.container-2nx-BQ:not([style*="rgb(114, 118, 125)"]), .button-f2h6uQ[style*="114, 137, 218"] {
    background-color: var(--channel-color)!important;
}
.radioIconForeground-2BMavi{
    color: var(--blue-hue-elements);
}
.css-17mfgdg-container {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf{
    background-color: var(--background-primary)!important;
    border-color: var(--channel-color)!important;
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px!important;
}
.cardPrimary-3qRT__{
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    color: white;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--channel-color);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:active:not(.hideInteraction-1iH010){
    background-color: var(--channel-color)!important;
}
.authedApp-1tw-eT{
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.accountList-305sx3{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.connectionHeader-2rV1ze{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 3px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 2px 2px 0px var(--chat-shadow-color) inset;

}
.connectionOptionsWrapper-1ipqUo{
    border-top: 0px!important;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.integration-1f5IUi{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .feature-2IUcBI{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79{
    background-color: var(--channel-color);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover{
    background-color: var(--channel-color);
}
.theme-dark .checkbox-f1HnKB:not([style*="rgb(114, 137, 218)"]), .checkbox-f1HnKB[style*="114, 137, 218"]{
    background-color: var(--chat-color)!important;
    border-color: var(--channel-color)!important;
}
.planOptionDiscount-2UFc37{
    background-color: var(--channel-color);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo{
    background-color: var(--background-primary);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{
    background-color: var(--channel-color);
}
.card-2gdrYL {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.barFill-2Bh7CX{
    background: var(--channel-color);
}
.defaultValue-19SZ-q .markValue-2U_-UG{
    color: #7bcbeb;
}
.css-3vaxre-menu{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    overflow: auto!important;
}
.css-gvi9bl-control{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark .card-2ART2V:hover {
    background-color: var(--activity-color);
}
.theme-dark .card-2ART2V:before {
    background-color: var(--activity-color);
    border-color: var(--channel-color);
}
.theme-dark .notDetected-2HEmAp, .theme-light .notDetected-2HEmAp {
    border-radius: 20px;
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
}
.theme-dark .game-3x3aDt{
    box-shadow: 0px 1px 0px 0px var(--chat-shadow-color) inset;
}
.added-2hLRj3{
    color: var(--blue-hue-elements)!important;
}
.added-2hLRj3:after{
    background-color: #64a4a8!important;
}
.wrapper-SdcMKg{
    border-color: var(--channel-color);
}
.selected-18Wszc.option-1QI4c9{
    background-color: var(--channel-color);
}
.option-1QI4c9:hover{
    background-color: var(--channel-color);
}
.subtitle-3Kkhfr, .title-3VYtQS{
    border: 0px!important;
}
.colorBrand-3cPPsm{
    color: var(--blue-hue-elements);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM{
    color: var(--blue-hue-elements);
    border: 1px solid var(--blue-hue-elements);
    border-radius: 20px;
}
.authedApp-1tw-eT:focus-within .deleteApp-3NqwJh, .authedApp-1tw-eT:hover .deleteApp-3NqwJh{
    color: #f04747;
    border-color: #f04747;
}
.deleteApp-3NqwJh{
    opacity: unset;
}
.theme-dark .subText-1gefwV{
    color: #959799;
}
.divider-_0um2u{
    border-top: thin solid var(--channel-color);
}

/*Discord Nitro button*/
.side-2ur1Qk .item-3XjbnG[aria-controls="Discord Nitro-tab"] {
    background-color: transparent!important;
    color: var(--blue-hue-elements)!important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="Discord Nitro-tab"]:focus{
    background-color: #293f4757!important;
    color: white!important;
}
.side-2ur1Qk .item-3XjbnG[aria-controls="Discord Nitro-tab"]:hover{
    background-color: var(--channel-color)!important;
    color: white!important;
}

/*Close button*/
.theme-dark .closeButton-PCZcma{
    border-color: var(--channel-color);
}

/*Add a Server Button & Explore Server Buttons*/
.circleIconButton-1QV--U {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out;
    color: #293f47;
    background-color: var(--background-primary);
}

.lookFilled-yCfaCM.colorGrey-2iAG-B {
    background-color: #030303;
}
.scroller-3j5xK2{
    background-color: var(--background-primary);
}
.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98 {
    background-color: var(--activity-color);
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.search-25t1e9{
    background-color: transparent!important;
}
.search-25t1e9 .searchBox-31Zv9h{
    background-color: var(--activity-color);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background-color: var(--channel-color);
}

/*Blur Username, E-mail and phone in settings*/

.field-21XZwa+.field-21XZwa .colorHeaderPrimary-jN_yGr.size16-rrJ6ag{
    filter: blur(8px);
}
.field-21XZwa+.field-21XZwa .colorHeaderPrimary-jN_yGr.size16-rrJ6ag:hover{
    filter: blur(0px);
    transition: 150ms;
}
.usernameInnerRow-1-STdK{
    filter: blur(8px);
}
.usernameInnerRow-1-STdK:hover {
    filter: blur(0px);
    transition: 150ms;
}

/*BD Settings*/
#bd-settingspane-container .ui-switch-item{
    text-align: left;
}
.bd-addon-list .bd-addon-card{
    background-color: var(--background-primary)!important;
    background: var(--background-primary)!important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px!important;
}
.bd-select {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px!important;
}
.bd-select .bd-select-options {
    border: 1px solid var(--channel-color)!important;
    border-radius: 20px;
}
.bd-button {
    background-color: var(--channel-color);
}
.bd-addon-views .bd-view-button.selected {
    background-color: var(--channel-color);
}
.bd-select-wrapper label {
    color: white;
}
.bd-addon-list .bd-addon-header {
    background-color: transparent;
}
.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--channel-color)!important;
}
.bd-pfbtn{
    background-color: var(--channel-color);
}
.bd-search-wrapper {
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected{
    background-color: var(--channel-color);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover{
    background-color: #293f4757;
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: 1px solid var(--channel-color);
}
.bd-addon-list a {
    color: #64a4a8;
}
.bd-select .bd-select-option{
    background-color: var(--background-primary);
}
.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected {
    background-color: var(--channel-color);
}

/*Join a server Window*/
.scroller-Q9d9Di{
    background-color: var(--background-primary);
}
.theme-dark .contentWrapper-3oy4Xo {
    background-color: transparent;
}
.scroller-Q9d9Di {
    overflow: hidden hidden!important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.inviteSplash-2Q0PLE {
    display: none!important;
}
.lookLink-15mFoz.colorBrand-I6CyqQ:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg,transparent,transparent 1px,var(--channel-color) 0,var(--channel-color) 2px,transparent 0);
}

/*Server selected channel*/
.scroller-Q9d9Di{
    background-color: var(--background-primary);
}
.pill-qMtBTq {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.lookLink-15mFoz.colorBrand-I6CyqQ{
    color: var(--blue-hue-elements);
}
.optionContainer-yOpaLq:hover{
    background-color: #293f4757;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ{
    background-color: #293f4757;
}
.unread-36eUEm{
    background-color: var(--blue-hue-elements);
    height: 10px;
    width: 7px;
}

/*Notification Settings*/
.lookFilled-1GseHa.select-1Ia3hD {
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.popout-1KHNAq{
    border: 1px solid var(--channel-color);
}
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover{
    background-color: #293f4757;
}


/*Create server window*/
.colorHeaderSecondary-g5teka{
    color: var(--blue-hue-elements);
}
#uid_8731 > button > div > svg > path {
    fill: var(--blue-hue-elements)!important;
}
.container-x8Y1ix{
    background-color: #030303;
    color:var(--blue-hue-elements)!important;
}
.title-1_TkpU{
    color: white!important;
}
.colorStandard-21JIj7{
    color: var(--blue-hue-elements);
}

/*Upload pictures*/
.uploadModal-2ie9O_ {
    background-color: var(--background-primary)!important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.uploadModal-2ie9O_ .footer-VCsJQY {
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 0 0 20px 20px;
}
.uploadModal-2ie9O_ .inner-rBP-MS .channelTextAreaUpload-30SRDh {
    background-color: var(--background-primary)!important;
}

/*Server Boost Window*/
.perksModal-fSYqOq{
    background-color: var(--background-primary)!important;
}
.theme-dark .tierBody-16Chc9 {
    background-color: var(--activity-color)!important;
}
.perk-2WeBWW {
    background-color: var(--activity-color)!important;
}
.ctaBar-2UsjF2 {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}

/*No pin in channel footer*/
.footer-5ji8u1{
    background-color: var(--background-primary);
}
.pro-3GwLMX {
    color: var(--blue-hue-elements)!important;
}

/*Profile window*/
.root-SR8cQa {
    background-color: var(--background-primary);
}
.topSectionNormal-2-vo2m{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.body-3ND3kc{
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-top: 0px;
    border-radius: 0 0 20px 20px;
}
.top-K_jibn .item-3XjbnG{
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active, .top-K_jibn .themed-2-lozF.item-3XjbnG:hover{
    border-bottom-color: var(--blue-hue-elements)!important;
}
.note-QfFU8y textarea{
    border-radius: 20px;
    padding: 8px;
}
.connectedAccount-36nQx7 {
    border-radius: 20px;
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset!important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset!important;
}
.topSectionSpotify-1lI0-P{
    background: var(--background-primary);
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.actionButton-3W1xZa{
    background-color: var(--channel-color)!important;
    color: white!important;
    border-radius: 20px;
}
.tabBarContainer-1s1u-z{
    border-top: 1px solid var(--blue-hue-elements);
}
.topSectionPlaying-1J5E4n{
    background: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: unset;
    border-radius: 20px 20px 0 0!important;
}
.tabBarContainer-1s1u-z {
    border: unset;
}
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border: unset;
}
.tabBarItem-1b8RUP{
    border-bottom-color: var(--channel-color)!important;
    color: var(--blue-hue-elements)!important;
}
.top-K_jibn .item-3XjbnG:active, .top-K_jibn .item-3XjbnG:hover{
    border-color: var(--blue-hue-elements)!important;
    color: var(--blue-hue-elements)!important;
}

/*Search results*/
.resultsGroup-1BPR25 {
    background-color: var(--background-primary)!important;
}
.theme-dark .option-2KkUJO:after {
    background: -webkit-gradient(linear,left top,right top,from(#63a5a818),color-stop(80%,var(--blue-hue-elements)));
    background: linear-gradient(90deg,#63a5a818,var(--blue-hue-elements) 80%);
}
.theme-dark .elevationBorderHigh-3drnJX {
    -webkit-box-shadow: 0 0 0 1px #293f47, 0 2px 10px 0 #030303;
    box-shadow: 0 0 0 1px #293f47, 0 2px 10px 0 #030303;
}
.theme-dark .option-2KkUJO.selected-rZcOL-{
    background-color: #63a5a818!important;
}
.theme-dark .option-2KkUJO.selected-rZcOL-:after{
    background: -webkit-gradient(linear,left top,right top,from(#63a5a818),color-stop(80%,var(--blue-hue-elements)));
    background: linear-gradient(90deg,#63a5a818,var(--blue-hue-elements) 80%);
}
.theme-dark .focused-2FU0YH{
    background-color: var(--background-primary);
}
.theme-dark .dim-2Uxgxb span{
    background-color: var(--channel-color);
}
.theme-dark .queryContainer-ZunrLZ{
    background-color: var(--background-primary);
}
.searchHeader-1r_ZSh{
    background-color: var(--background-primary);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: var(--channel-color);
}
.input-3r5zZY{
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread-1_MVDK{
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe{
    background: transparent;
}
.name-3qeTY-:hover {
    background-color: #293f4757;
}
.theme-dark .activeButton-LRWFC_ {
    background-color: var(--channel-color);
}
.theme-dark .activeButton-LRWFC_:hover {
    background-color: var(--channel-color);
}
.roundButton-2_R5PN:hover {
    background-color: #63a5a818;
}
.pageButton-1GMGeJ:hover{
    background: transparent;
    color: var(--blue-hue-elements);
}
.button-cfOvv- {
    background-color: var(--activity-color);
    color: white!important;
}
.button-cfOvv-:hover {
    background-color: var(--channel-color);
    color: white!important;
}
.highlight {
    background: var(--channel-color);
    color: white;
}
.channelName-3w2Y3c:hover {
    color: var(--blue-hue-elements);
}

/*Guilds*/
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
    background: none !important;
}
.homeIcon-FuNwkv {
    color: transparent !important;
    background: url("https://minidiscordthemes.github.io/rmkx/LlunaPlena/icon/home-icon.svg") center no-repeat; 
    background-size: 36px;
    z-index: 2;
    width: 56px; height: 56px;
}
.scroller-3X7KbA {
    background-color: var(--background-primary);
}
.guildSeparator-33mFX6{
    background-color: var(--blue-hue-elements);
}
.item-2LIpTv{
    background-color: var(--blue-hue-elements);
}
.circleIconButton-1QV--U.selected-1JjBPm{
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--chat-color);
}
.listItem-GuPuDH:focus{
    width: 75%;
    margin: 8px;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.wrapper1BJsBx.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    border-radius: 20px;
    background-color: transparent!important;
}
.numberBadge-37OJ3S{
    background-color: var(--blue-hue-elements)!important;
}
.iconBadge-1D5-9X {
    background-color: var(--blue-hue-elements)!important;
}
.tree-3agP2X:focus { /*Removes outline when double clicking guild bar*/
    outline: none;
}

/*Folders*/
.folderIconWrapper-1_bOZe {
    background-color: transparent!important;
    box-shadow: unset;

}
.expandedFolderIconWrapper-Huv7rA {
    background-color: transparent!important;
    border: 1px;
    border-radius: 15px;
    box-shadow: 3px 0px 3px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 5px 0px var(--blue-hue-elements) inset;
}
.expandedFolderBackground-1cujaW{
    background-color: transparent!important;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset;
    border-radius: 15px;
}

/*Reactions*/
.reaction-2A2y9y{
    border-radius: 20px;
    background-color: var(--activity-color);
}
.reactionInner-9eVHJa{
    background-color: transparent;
}
.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #3953539c
}
.reactionMe-3I9gFK .reactionCount-1zkLcN, .reactionMe-3I9gFK:hover .reactionCount-1zkLcN {
    background-color: transparent!important;
    color: #fdfdfd;
}

/*Text File Preview*/
.textContainer-36wgKK {
    border:1px solid var(--blue-hue-elements)!important;
    border-radius:15px 15px 0px 0!important;
    border-bottom: unset!important;
}
.footer-GXWBBp {
    border:1px solid var(--blue-hue-elements)!important;
    border-radius:0 0 15px 15px!important;
    border-top: unset!important;
}
.modalTextContainer-1FUO2W {
    border:1px solid var(--blue-hue-elements)!important;
    border-radius:15px 15px 0px 0!important;
    border-bottom: unset!important;
}

/*Keyboard shortcuts*/
.theme-dark .keyboardShortcutsModal-2CRmCm { /*KB shortcuts main panel*/
    background-color: var(--chat-color);
}
.keybindShortcut-3zF1P9 span { /*KB shortcuts buttons*/
    background-color: var(--channel-color);
}

/*GooseMod compatibility*/
.children-1xdcWE div[style*="display: grid;"] > div {
    border: 1px solid var(--channel-color);
    display: grid!important;
}
.children-1xdcWE div[style*="display: grid;"] div[style*="width: calc(100% - 32px);"] { /*Main elements addons*/
    left: 5px!important;
}

.textBadge-1fdDPJ { /*Banner nitro badge*/
    background-color: transparent!important;
}