/**
 * @name         Hide Discord Panels
 * @description  Hides the Friends, Server Channel and Server Members panels with some animations.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/Saltssaumure/rmkx-theme-fix/blob/main/src/hidePanels.css
 * @author       rmkx
 * @version      1.0 
 */

:root {
    --server-hiding-width: 50px; /*Amount that will be shown when the panels hide | Default 50px*/
    --members-hiding-width: 55px; /*Amount that will be shown when the server's members panel hides | Default 55px*/
    --showing-width: 240px; /*Amount that will be shown when the panels show | Default 240*/
    --hidden-background: transparent; /*Background of the elements when hidden*/
    --showing-background: transparent; /*Background of the elements when showing*/
}

@keyframes selectedChannel {
    0% {
        background: var(--hidden-background);
    }
    100% {
        background: var(--showing-background);
    }
}

/*Hides server members list*/
.membersWrap__5ca6b {
    width: var(--members-hiding-width);
    min-width: unset;
    justify-content: unset;
    transition: width 0.35s ease-in;
}
.membersGroup_cad095 {
    /*Hides the member's role*/
    color: transparent;
    transition: color 0.35s ease-in;
}
.member_aa4760 {
    /*Moves server members a bit to the left and separates them for aesthetic purposes*/
    margin-left: 2px;
    margin-bottom: 3px;
}

/*Shows the server members list*/
.membersWrap__5ca6b:hover {
    /*Shows server's members*/
    width: var(--showing-width);
}
.membersWrap__5ca6b:hover .membersGroup_cad095 {
    /*Shows members roles when hovering*/
    color: white;
}

/*Hides the server's channel list*/
.sidebar_e031be {
    width: var(--server-hiding-width);
    transition: width 0.35s ease-in;
}
.wrapper__612a5 {
    /*Moves chanels to the left for aesthetic purposes*/
    padding-left: 8px;
    margin-left: 5px;
}
.mainContent__2333c .overflow__993fa,
.icon__3aa8e {
    /*Hides the channel group*/
    color: transparent;
    transition: color 0.35s ease;
}
.wrapper__71278 {
    /*Hides the amount of people in a voice channel when hidden*/
    visibility: hidden;
    transition: visibility 0.15s ease;
}
.containerDefault_e3b32b {
    /*Removes padding between channels when hidden for aesthetical purposes*/
    padding: 0px;
    transition: padding 0.35s ease;
}
.container_a48b21.channel__0aef5 {
    /*Moves the online friends list to the left for aesthetical purposes*/
    margin-left: 0px;
}
.layout_bb8e67.channel__0aef5 {
    /*Moves the online friends list to the left for aesthetical purposes*/
    padding-left: 0px;
}
.containerDefault_ae2ea4 {
    /*Server channel normal background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.selected__7f4cb.container_a48b21 {
    /*Selected friend settings*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.containerDefault_ae2ea4 .modeSelected__473f1 {
    /*Selected server channel background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.voiceUserSummary__5794e {
    /*Voice Channels when collapsed*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.actionIcon_b149a2 {
    /*Hides the invite to channel button when panel is hidden*/
    color: transparent;
    transition: color 0.35s ease;
}
.listeningAlong_a3b241 {
    /*Hides the listening along panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition:
        height 0.35s ease,
        visibility 0.0000000000000001s ease,
        padding 0.25s ease;
}
.container_e1958d {
    /*Hides the connected channel panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition:
        height 0.35s ease,
        visibility 0.0000000000000001s ease,
        padding 0.25s ease;
}
.activityPanel_b73e7a {
    /*Hides the sharing screen panel*/
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition:
        height 0.35s ease,
        visibility 0.0000000000000001s ease,
        padding 0.25s ease;
}
.list__02208 {
    /*Moves people connected to a voice channel when hidden*/
    padding-left: 5px;
    transition: padding 0.35s ease;
}
.addButton__184db {
    /*Hides the add channel in the channel list*/
    color: transparent;
    transition: color 0.35s ease;
}
.listDefault__4e3fa .avatarContainer__5724c {
    /*Centers the avatars of peole connected to a vc even more*/
    margin-left: 5px;
}
.mentionsBadge-2ckrKL {
    /*Mentioned in a channel*/
    top: 15px;
    left: 7px;
    transition:
        left 0.35s ease-in,
        top 0.35s ease-in;
}
.header__77c95 {
    /*Server name*/
    width: 42px;
    transition: width 0.35s ease-in;
}
.button__84b6b {
    /* Arrow button*/
    margin-left: -3px;
}
.privateChannelsHeaderContainer_b22dc9,
.privateChannelsHeaderContainer_b22dc9 > .clickable_ce0925 .icon_ae0b42 {
    /*New Direct Message text*/
    color: transparent;
    transition: color 0.35s ease;
}

/*Shows the server's channel list*/
.sidebar_e031be:hover {
    width: var(--showing-width);
}
.sidebar_e031be:hover .mainContent__2333c .overflow__993fa,
.sidebar_e031be:hover .mainContent__2333c .icon__3aa8e {
    /*Shows channel group*/
    color: white;
}
.sidebar_e031be:hover .containerDefault_e3b32b {
    /*Animates the movement of the channel groups when they show*/
    padding: 4px;
}
.sidebar_e031be:hover .containerDefault_ae2ea4 .actionIcon_b149a2 {
    /*Shows the invite to channel button when panel is hovered*/
    color: white;
}
.sidebar_e031be:hover .listeningAlong_a3b241 {
    /*Shows the listening along panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar_e031be:hover .activityPanel_b73e7a {
    /*Shows the sharing screen panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar_e031be:hover .container_e1958d {
    /*Shows the connected channel panel*/
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar_e031be:hover .selected__7f4cb.container_a48b21 {
    /*Selected showing settings*/
    animation: selectedChannel 0.35s ease;
    animation-fill-mode: forwards;
}
.sidebar_e031be:hover .containerDefault_ae2ea4 .modeSelected__473f1 {
    /*Selected server channel showing background*/
    animation: selectedChannel 0.35s ease;
    animation-fill-mode: forwards;
}
.sidebar_e031be:hover .voiceUserSummary__5794e {
    /*Showing collapsed voice chanels on server*/
    background-color: transparent;
    background: transparent;
}
.sidebar_e031be:hover .wrapper__71278 {
    /*Showing the amount of people in a voice channel*/
    visibility: visible;
}
.sidebar_e031be:hover .list__02208 {
    /*Moves the connected users in a voice channel back to default place*/
    padding-left: 36px;
}
.sidebar_e031be:hover .addButton__184db {
    /*Shows the add server button on the channels list*/
    color: white;
}
.sidebar_e031be:hover .mentionsBadge-2ckrKL {
    /*Mentioned in a channel when hovering*/
    left: initial;
    top: initial;
}
.sidebar_e031be:hover .header__77c95 {
    /*Showing server name*/
    width: var(--showing-width);
}
.sidebar_e031be:hover .content-2a4AW9 .privateChannelsHeaderContainer_b22dc9,
.sidebar_e031be:hover .privateChannelsHeaderContainer_b22dc9 > .clickable_ce0925 .icon_ae0b42 {
    /*Shows DM text*/
    color: white;
}
