/*Server config*/

.divider-3wNib3,
.divider-Uf0Wob {
    /*divider*/
    display: none;
}
.container-3EtAkD,
.container-3EtAkD:hover,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) {
    /*Role options*/
    background-color: transparent;
}
.container-3EtAkD,
.roleRow-3LoHQ6:not(.roleRowDisableHover-2TXfy-) .dragIcon-kQZ0Jv,
.roleRow-3LoHQ6:not(.roleRowDisableHover-2TXfy-) .roleNameContainer-1vRTI3,
.roleRow-3LoHQ6:not(.roleRowDisableHover-2TXfy-) .memberCountContainer-30IqIo,
.emojiRow-zIc7ZX .emojiImage-1hZi2F,
.emojiRow-zIc7ZX .emojiUploader-1f0pVx {
    /*Role options*/
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.container-3EtAkD:hover,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .dragIcon-kQZ0Jv,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .roleNameContainer-1vRTI3,
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .memberCountContainer-30IqIo,
.emojiRow-zIc7ZX:hover .emojiImage-1hZi2F,
.emojiRow-zIc7ZX:hover .emojiUploader-1f0pVx {
    /*role options hovered*/
    color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY,
.icon-2DGsye {
    /*Role panel icons background*/
    background-color: transparent;
}
.roleRow-3LoHQ6:before,
.roleRow-3LoHQ6:last-child:after {
    /*Role dividers*/
    display: none;
}
.tableHeader-2h-wc8 {
    /*Role titles*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.titleContainer-3fPic2,
.header-JUTO-g {
    /*Roles back button*/
    background-color: transparent;
}
.header-JUTO-g {
    /*Text*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.titleElevated-eN3exl {
    /*shadow thingy*/
    box-shadow: unset;
}
.stickyHeaderElevated-dNSSrJ {
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
}
.sidebar-3K3Z4C {
    /*Divider*/
    border: none;
}
.tabBar-3DfKkN {
    /*Tab bar border*/
    border: none;
}
.emojiRow-zIc7ZX {
    /*Emoji hovered*/
    box-shadow: unset !important;
}
.emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    /*Emoji name*/
    background-color: transparent !important;
}
.emojiRow-zIc7ZX .emojiRemove-1k6MlJ {
    background-color: transparent !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
    box-shadow: none !important;
    transition: filter 0.25s ease, opacity 0.25s ease;
}
.auditLog-3jNbM6 {
    /*Audit log main modal*/
    border: none;
    transition: 0.25s ease;
}
.auditLog-3jNbM6:hover {
    /*Audit log hovered*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.header-GwIGlr {
    /*Audit log subcontainer*/
    background-color: transparent !important;
}
.cardPrimaryEditable-2mz_3i {
    /*Integrations*/
    background-color: transparent;
    border: none;
}
.iconWrapper-lS1uig {
    /*Integration icons*/
    background-color: transparent;
}
.iconWrapper-lS1uig,
.secondaryHeader-2oeRPO,
.featureIcon-3huAlM,
.sectionHeader-roK2A- {
    /*Shadows*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.card-o7rAq- .horizontal-112GEH > .flex-2S1XBF .colorStandard-21JIj7,
.caret-Ld-w32 {
    /*Integration nage text and icon*/
    color: rgb(var(--server-channel-textc), 0.25);
    transition: 0.25s ease;
}
.card-o7rAq-:hover .horizontal-112GEH > .flex-2S1XBF .colorStandard-21JIj7,
.card-o7rAq-:hover .caret-Ld-w32 {
    /*Integration text and icon*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.descriptionBox-1EKQKL {
    /*Server template*/
    background-color: transparent;
}
.featureCard-1RR4Tl,
.featureIcon-3p1TC_ {
    /*Enable community feature card*/
    background-color: transparent;
}
.separator-3wQM3d {
    /*Divider*/
    display: none;
}
.member-1q7VfX {
    /*Server member*/
    box-shadow: unset !important;
}
.member-1q7VfX .avatar-2tTaT6,
.member-1q7VfX .nameTag-3wmDUk {
    /*Server member elements*/
    transition: 0.25s ease;
}
.member-1q7VfX:hover .avatar-2tTaT6,
.member-1q7VfX:hover .nameTag-3wmDUk {
    /*Server member hovered elements*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
    box-shadow: unset !important;
}
.memberRow-1FhJgR:hover {
    /*Member hovered*/
    background-color: transparent;
}
.container-2O1UgZ {
    /*Role dropdown box*/
    border-radius: var(--main-radius);
    background-color: transparent;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569), -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
    border: none;
}
.container-2O1UgZ::before {
    /*Role dropdown box background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.container-2O1UgZ::after {
    /*Role dropdown box opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.container-2O1UgZ .item-1BCeuB {
    /*Dropdown roles*/
    filter: opacity(0.5);
    transition: 0.25s ease;
}
.container-2O1UgZ .item-1BCeuB:hover {
    /*Dropdown roles*/
    background-color: transparent;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.customScroller-m1-jZn > div .defaultColor-2cKwKo {
    /*Header shadow*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.inviteSettingsInviteRow-1rZeIM {
    /*Server invite links*/
    box-shadow: unset !important;
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.inviteSettingsInviteRow-1rZeIM:hover {
    /*Server invite link hovered*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.inviteSettingsInviteRow-1rZeIM .revokeInvite-XuVwn4 {
    background-color: transparent;
    transition: 0.25s ease;
}
.inviteSettingsInviteRow-1rZeIM:hover .revokeInvite-XuVwn4 {
    /*Delete invite button*/
    background-color: transparent;
    box-shadow: unset;
}
.customScroller-m1-jZn > div .h5-2RwDNl {
    /*Subtitles*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.cardWarning-WRe-Qa {
    /*Delete server warning*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.cardWarning-WRe-Qa .warning-2xeJH2 {
    color: rgb(var(--server-channel-textc));
}
.cardWarning-WRe-Qa + .spacing-1JirW3 .h5-2RwDNl {
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.lookFilled-yCfaCM.colorRed-rQXKgM .contents-3ca1mk {
    color: red;
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover .contents-3ca1mk {
    color: red;
}
.settingCard-xZSDjS,
.scroller-3_YDR2,
.cardFolder-3H4uH4,
.settingCard-xZSDjS.active-3EK-ed {
    /*Channel role*/
    background-color: transparent;
}
.group-LWHoGI {
    /*Permissions buttons*/
    border: none;
}
.item-4m-12I {
    /*Permissions*/
    background-color: transparent;
}
.container-20TyK0 {
    /*Save changes*/
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(5px);
}

/*Invited to server*/

.contentWrapper-3oy4Xo {
    /*Main modal*/
    border-radius: var(--main-radius) !important;
    background-color: transparent !important;
    background: transparent !important;
}
.contentWrapper-3oy4Xo::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.contentWrapper-3oy4Xo::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.pill-qMtBTq {
    /*Server members*/
    background-color: transparent;
}
.marginBottom20-315RVT .inviteLargeIcon-2kbJva,
.marginBottom20-315RVT .colorHeaderSecondary-g5teka,
.marginBottom20-315RVT .title-10kb1R,
.marginBottom20-315RVT .activityCount-2n5Mj9 {
    /*Modal text*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}