/*Gif/Emote/Stickers panels*/

.drawerSizingWrapper-1txdWG,
.emojiPicker-6YCk8a {
    /*Main modal*/
    background: transparent;
    border-radius: var(--main-radius);
    animation: menuShow 0.25s ease;
    transform-origin: bottom;
}
.drawerSizingWrapper-1txdWG::before,
.emojiPicker-6YCk8a::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.drawerSizingWrapper-1txdWG::after,
.emojiPicker-6YCk8a::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.contentWrapper-3vHNP2 {
    /*Subcontainers*/
    background-color: transparent;
}
.header-JHwfVI,
.header-11eigE {
    /*Panel headers*/
    box-shadow: unset !important;
}
.navItem-3McpmW .navButton-1XuvI- {
    /*Tab buttons*/
    color: rgba(var(--server-channel-textc), 0.2);
    transition: 0.25s ease;
}
.navItem-3McpmW .navButton-1XuvI-:hover {
    /*Tab buttons hover*/
    color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.navItem-3McpmW .navButtonActive-1EqC5l {
    /*Selected tab*/
    color: rgba(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    background-color: transparent;
}
.container-1SX9VC,
.container-2oNtJn {
    /*Searchbars bg*/
    background-color: transparent;
}
.searchBar-2M9mRP,
.searchBar-gJe8lY {
    /*Searchbar main*/
    border: 1px solid rgb(var(--server-channel-textc), 0.25);
    border-radius: var(--button-radius);
    transition: 0.25s ease;
}
.searchBar-2M9mRP:hover,
.searchBar-gJe8lY:hover {
    /*Searchbar hovered*/
    border: 1px solid rgb(var(--server-channel-textc), 0.45);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.searchBar-2M9mRP:focus-within,
.searchBar-gJe8lY:focus-within {
    /*Searchbar focused*/
    border: 1px solid rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.categoryFadeBlurple-1HuV1x {
    /*Gif foreground*/
    background-color: transparent !important;
    transition: bacground-color 0.25s ease;
}
.categoryFadeBlurple-1HuV1x:hover {
    /*Gif foreground*/
    background-color: rgb(0, 0, 0, 0.35) !important;
}
.result-3OpoO7:hover {
    /*Hovered result*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    transition: 0.25s ease;
}
.result-3OpoO7:hover::after {
    /*Hovered result ring*/
    box-shadow: none !important;
}
.categoryIcon-2cYeku {
    /*Emoji category icon*/
    color: rgb(var(--server-channel-textc)) !important;
}
.categoryItemDefaultCategory-3haEDq {
    /*Emoji category*/
    filter: opacity(0.2);
    transition: 0.25s ease;
}
.categoryItemDefaultCategory-3haEDq:hover {
    /*Emoji category hovered*/
    background-color: transparent;
    filter: opacity(0.65) drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.categoryItemDefaultCategorySelected-2YeRUu,
.categoryItemDefaultCategorySelected-2YeRUu:hover {
    /*Selected emoji category*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.guildIcon-2SUGiq {
    /*Guild category*/
    background-color: transparent;
}
.categoryItemGuildCategory-3mvXlo foreignObject {
    /*Guild category avatar*/
    mask: none !important;
    border-radius: 50%;
}
.header-1XpmZs {
    /*Emote category expandable*/
    color: rgba(var(--server-channel-textc), 0.2);
    transition: 0.25s ease;
}
.header-1XpmZs:hover {
    /*Emote category expandable*/
    color: rgba(var(--server-channel-textc), 0.65) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.header-1XpmZs[aria-expanded="true"] {
    /*Emote category expanded*/
    color: rgba(var(--server-channel-textc), 1) !important;
    backdrop-filter: blur(5px);
    border-radius: var(--button-radius);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    /*Hovered emoji*/
    transition: filter 0.25s ease;
}
.inspector-DFKXwB,
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    /*Hovered emoji*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.guildCategorySeparator-3QYkij {
    /*Category divider*/
    display: none;
}
.emojiPickerInExpressionPicker-2nOwH8 .emojiPicker-6YCk8a {
    /*Box shadow overflow*/
    overflow: visible !important;
}
.diversitySelector-P-W_tU {
    /*Selected diversity*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.diversitySelectorOptions-3DhNYs {
    /*Diversity selector*/
    background-color: transparent;
    border: none;
    box-shadow: -3px -3px 5px 1px black;
}
.diversitySelectorOptions-3DhNYs::before {
    /*Diversity selector background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.diversitySelectorOptions-3DhNYs::after {
    /*Diversity selector opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.diversityEmojiItem-2bgZKv {
    /*Diversity button*/
    transition: 0.25s ease;
}
.diversityEmojiItem-2bgZKv:hover {
    /*Diversity selector hovered*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiSection-3QtaWO {
    /*Clicked emoji in chat*/
    background-color: transparent;
    background: transparent;
    border-radius: var(--main-radius);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiSection-3QtaWO::before {
    /*Clicked emoji in chat*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.emojiSection-3QtaWO::after {
    /*Clicked emoji in chat*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.popoutContainer-2wbmiM {
    /*Popout modal*/
    background: transparent;
    border-radius: var(--main-radius);
    box-shadow: unset;
}
.header-uVCAlo {
    /*Stickers panel*/
    box-shadow: unset;
}
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    /*Hovered sticker*/
    background-color: transparent;
}
