/*Gif/Emote/Stickers panels*/

.drawerSizingWrapper_e20f1f,
.emojiPicker__5e2e2 {
    /*Main modal*/
    background: transparent;
    border-radius: var(--main-radius);
    animation: menuShow 0.25s ease;
    transform-origin: bottom;
}
.drawerSizingWrapper_e20f1f::before,
.emojiPicker__5e2e2::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.drawerSizingWrapper_e20f1f::after,
.emojiPicker__5e2e2::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.contentWrapper_e0bb2c {
    /*Subcontainers*/
    background-color: transparent;
}
.header-JHwfVI,
.header_e5d8b2 {
    /*Panel headers*/
    box-shadow: unset !important;
}
.navItem__38e35 .navButton_b588d0 {
    /*Tab buttons*/
    color: rgba(var(--server-channel-textc), 0.2);
    transition: 0.25s ease;
}
.navItem__38e35 .navButton_b588d0:hover {
    /*Tab buttons hover*/
    color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.navItem__38e35 .navButtonActive__0c878 {
    /*Selected tab*/
    color: rgba(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    background-color: transparent;
}
.container_ec5ce2,
.container__33507 {
    /*Searchbars bg*/
    background-color: transparent;
}
.searchBar__57f39,
.searchBar-gJe8lY {
    /*Searchbar main*/
    border: 1px solid rgb(var(--server-channel-textc), 0.25);
    border-radius: var(--button-radius);
    transition: 0.25s ease;
}
.searchBar__57f39:hover,
.searchBar-gJe8lY:hover {
    /*Searchbar hovered*/
    border: 1px solid rgb(var(--server-channel-textc), 0.45);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.searchBar__57f39:focus-within,
.searchBar-gJe8lY:focus-within {
    /*Searchbar focused*/
    border: 1px solid rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.categoryFadeBlurple-1HuV1x {
    /*Gif foreground*/
    background-color: transparent !important;
    transition: bacground-color 0.25s ease;
}
.categoryFadeBlurple-1HuV1x:hover {
    /*Gif foreground*/
    background-color: rgb(0, 0, 0, 0.35) !important;
}
.result-3OpoO7:hover {
    /*Hovered result*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    transition: 0.25s ease;
}
.result-3OpoO7:hover::after {
    /*Hovered result ring*/
    box-shadow: none !important;
}
.categoryIcon_d0a396 {
    /*Emoji category icon*/
    color: rgb(var(--server-channel-textc)) !important;
}
.categoryItemDefaultCategory__6c3db {
    /*Emoji category*/
    filter: opacity(0.2);
    transition: 0.25s ease;
}
.categoryItemDefaultCategory__6c3db:hover {
    /*Emoji category hovered*/
    background-color: transparent;
    filter: opacity(0.65) drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.categoryItemDefaultCategorySelected__7d6e0,
.categoryItemDefaultCategorySelected__7d6e0:hover {
    /*Selected emoji category*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.guildIcon_ed1ab4 {
    /*Guild category*/
    background-color: transparent;
}
.categoryItemGuildCategory_a121c6 foreignObject {
    /*Guild category avatar*/
    mask: none !important;
    border-radius: 50%;
}
.header__8e271 {
    /*Emote category expandable*/
    color: rgba(var(--server-channel-textc), 0.2);
    transition: 0.25s ease;
}
.header__8e271:hover {
    /*Emote category expandable*/
    color: rgba(var(--server-channel-textc), 0.65) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.header__8e271[aria-expanded="true"] {
    /*Emote category expanded*/
    color: rgba(var(--server-channel-textc), 1) !important;
    backdrop-filter: blur(5px);
    border-radius: var(--button-radius);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiItem_de65fd.emojiItemSelected__023be {
    /*Hovered emoji*/
    transition: filter 0.25s ease;
}
.inspector__80c84,
.emojiItem_de65fd.emojiItemSelected__023be {
    /*Hovered emoji*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.guildCategorySeparator__5ea84 {
    /*Category divider*/
    display: none;
}
.emojiPickerInExpressionPicker-2nOwH8 .emojiPicker__5e2e2 {
    /*Box shadow overflow*/
    overflow: visible !important;
}
.diversitySelector__0babb {
    /*Selected diversity*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.diversitySelectorOptions_daea2d {
    /*Diversity selector*/
    background-color: transparent;
    border: none;
    box-shadow: -3px -3px 5px 1px black;
}
.diversitySelectorOptions_daea2d::before {
    /*Diversity selector background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.diversitySelectorOptions_daea2d::after {
    /*Diversity selector opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.diversityEmojiItem__48e39 {
    /*Diversity button*/
    transition: 0.25s ease;
}
.diversityEmojiItem__48e39:hover {
    /*Diversity selector hovered*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiSection_ab054b {
    /*Clicked emoji in chat*/
    background-color: transparent;
    background: transparent;
    border-radius: var(--main-radius);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.emojiSection_ab054b::before {
    /*Clicked emoji in chat*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.emojiSection_ab054b::after {
    /*Clicked emoji in chat*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.popoutContainer__66068 {
    /*Popout modal*/
    background: transparent;
    border-radius: var(--main-radius);
    box-shadow: unset;
}
.header__643ce {
    /*Stickers panel*/
    box-shadow: unset;
}
.stickerInspected__29120 .inspectedIndicator__0c5e3 {
    /*Hovered sticker*/
    background-color: transparent;
}
