/*Go live panel*/

.segmentControlOption-2LyihQ {
    /*Go live tabs*/
    color: rgb(var(--server-channel-textc), 0.35);
    border-color: rgb(var(--server-channel-textc), 0.35) !important;
    transition: 0.25s ease;
}
.segmentControlOption-2LyihQ:hover {
    /*Tabs hovered*/
    color: rgb(var(--server-channel-textc), 0.65);
    border-color: rgb(var(--server-channel-textc), 0.65) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.segmentControlOption-2LyihQ.selected-2xa993 {
    /*Selected tab*/
    color: rgb(var(--server-channel-textc), 1);
    border-color: rgb(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.card-1SdQ2- {
    /*Streaming info*/
    color: rgb(var(--server-channel-textc));
    background-color: transparent;
    border: none;
}
.qualitySettingsContainer-30AsSH {
    /*Quality container*/
    border: none;
}
.lookFilled__9c1ef.select_fe2671 {
    /*Dropdown menu*/
    border-radius: var(--main-radius);
    background-color: transparent;
    border: none;
}
.popout_a6e77f {
    /*Dropdown options*/
    background-color: transparent;
    border: none;
}
.popout_a6e77f::before {
    /*Dropdown options background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.popout_a6e77f::after {
    /*Dropdown options opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.option-2eIyOn {
    /*Options*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) opacity(0.35);
    color: rgb(var(--server-channel-textc));
    background-color: transparent !important;
    transition: 0.25s ease;
}
.option-2eIyOn:hover {
    /*Option hovered*/
    color: rgb(var(--server-channel-textc));
    filter: opacity(0.65);
}
.option-2eIyOn[aria-selected="true"],
.selectedIcon_e9ecc2 {
    /*Selected option*/
    filter: opacity(1);
    color: rgb(var(--accent-color));
}
.headerText-1_rOfs,
.headerDescription-3-t7eP,
.formItemTitle-1wHTEM {
    /*Text*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.item-2OyinQ .colorStandard-21JIj7 {
    /*Quality text*/
    color: rgba(var(--server-channel-textc), 0.35) !important;
    transition: 0.25s ease;
}
.item-2OyinQ {
    /*Quality buttons*/
    background: transparent;
    transition: 0.25s ease;
    border: none;
}
.item-2OyinQ:hover {
    /*Hovered quaility button*/
    background-color: transparent !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.item-2OyinQ:not(.selectorButtonSelected-3Z0WNU):hover .colorStandard-21JIj7 {
    /*Hovered quality text*/
    color: rgba(var(--server-channel-textc), 0.65) !important;
}
.item-2OyinQ.selectorButtonSelected-3Z0WNU {
    /*Selected quality button*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.item-2OyinQ.selectorButtonSelected-3Z0WNU .colorStandard-21JIj7 {
    /*Selected quality text*/
    color: rgba(var(--server-channel-textc), 1) !important;
}
.wrapper__6bf2d {
    /*Streaming window | Call window*/
    background-color: transparent;
}
.wrapper__6bf2d .children_cde9af > div,
.wrapper__6bf2d .children_cde9af h3 {
    /*Channel name*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.wrapper__6bf2d .container__26baa.transparent__8d0a5 .controlIcon__73723 {
    color: rgb(var(--server-channel-textc), 0.65);
    transition: 0.25s ease;
}
.wrapper__6bf2d .container__26baa.transparent__8d0a5 .controlIcon__73723:hover {
    /*Toolbar buttons*/
    color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.wrapper__6bf2d .listItems__49027,
.bottomControls__72d8d {
    /*Shadows*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.colorable__4f530.white_ce1c7b,
.colorable__4f530.white_ce1c7b.active_ff29dc,
.colorable__4f530.red__45e65,
.colorable__4f530.red__45e65.active_ff29dc,
.colorable__4f530.red__45e65:hover {
    /*Go live buttons*/
    filter: opacity(0.25);
    background-color: transparent;
    transition: 0.25s ease;
}
.colorable__4f530.white_ce1c7b:hover,
.colorable__4f530.red__45e65:hover {
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.colorable__4f530.white_ce1c7b .centerIcon_e3df23,
.contextMenuCaret_ce9f87,
.colorable__4f530.primaryDark_ec74a7 .centerIcon_e3df23 {
    /*Go live buttons icons*/
    color: rgb(var(--server-channel-textc), 1);
}
.colorable__4f530.red__45e65,
.colorable__4f530.red__45e65 .centerIcon_e3df23 {
    /*End call*/
    color: red;
}
.tile_a411a4,
.button_c5d028,
.button_c5d028:hover {
    /*No one's here*/
    background-color: transparent;
}
.divider__9fa1b {
    /*Divider*/
    display: none;
}
