/*Discord main modals*/

.app-2CXKsg {
    /*Main Discord class*/
    padding: var(--window-padding, 50px);
    z-index: 1;
}
.layers-OrUESM {
    /*Changes borders*/
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
    border-radius: var(--window-border-radius, 12px);
}
.backdrop-2ByYRN {
    background: rgba(0, 0, 0, 0.569) !important;
    backdrop-filter: blur(3px);
}
