/*Right click menu*/

.menu__088f7 {
    /*Main modal*/
    border-radius: var(--main-radius);
    background-color: transparent;
    background: transparent;
    box-shadow: -3px -6px 10px 4px black;
    animation: menuShow 0.25s ease;
    transform-origin: top;
}
.menu__088f7::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.menu__088f7::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.menu__088f7 .colorDefault_e361cf,
.menu__088f7 .colorDefault_e361cf .label-2gNW3x .subtext-2GlkbE {
    /*Right click menu category*/
    border-color: transparent;
    color: rgba(var(--server-channel-textc), 0.2);
}
.menu__088f7 .colorDefault_e361cf .label-2gNW3x,
.menu__088f7 .colorDefault_e361cf .label-2gNW3x .subtext-2GlkbE {
    /*Menu category base settings*/
    transition: 0.25s ease;
}
.menu__088f7 .colorDefault_e361cf.focused_dcafb9 {
    /*Right click menu category hovered*/
    background-color: transparent;
    color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.menu__088f7 .colorDefault_e361cf.focused_dcafb9 .label-2gNW3x .subtext-2GlkbE {
    /*Menu category subtext hovered*/
    color: rgba(var(--server-channel-textc), 1);
}
.button_bfb8e1 {
    /*Add reaction*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.separator-1So4YB {
    /*Server menu*/
    border-bottom: none;
}
.menu__088f7 .colorDefault_e361cf.focused_dcafb9 .icon-E4cW1l {
    /*Server menu icons*/
    transition: 0.25s ease;
}
.button_bfb8e1:hover,
.keyboard-mode .button_bfb8e1.focused__53c23 {
    /*Reactions hovered*/
    background-color: transparent;
}
