/*Channel preview/Stream preview*/

.streamPreview-3qoMP4,
.container__56cd1 {
    /*Stream preview*/
    background-color: transparent !important;
    background: transparent !important;
    border-radius: var(--main-radius);
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
}
.streamPreviewWrapper-rIrOy5.mounted-2LsfHh::before {
    /*Stream preview background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.streamPreviewWrapper-rIrOy5.mounted-2LsfHh::after {
    /*Stream preview opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.container__56cd1 {
    overflow: auto !important;
}
.container__56cd1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--popout-bg) center/cover no-repeat;
    border-radius: var(--main-radius);
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.container__56cd1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.watchButton-2v6cPT,
.button__6ac9e {
    /*Join stream button*/
    border-radius: var(--button-radius);
    color: rgba(var(--server-channel-textc), 0.35);
    border-color: rgba(var(--server-channel-textc), 0.35) !important;
    transition: 0.25s ease;
}
.watchButton-2v6cPT.button__581d0:disabled,
.button__6ac9e:disabled {
    /*Disabled join stream button*/
    color: rgba(var(--server-channel-textc), 0.15);
    border-color: rgba(var(--server-channel-textc), 0.15) !important;
}
.watchButton-2v6cPT:hover:not(:disabled),
.button__6ac9e:hover:not(:disabled) {
    /*Join stream button hovered*/
    color: rgba(var(--server-channel-textc), 1) !important;
    border-color: rgba(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.previewContainer-21fFBz {
    /*Stream preview container*/
    background-color: transparent !important;
}
.activity_b1eb7a + .activity_b1eb7a {
    /*Divider*/
    border-top: none;
}
.activity_b1eb7a {
    /*Channel preview activity*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
