/*Upload file modal*/

.uploadModal__6eb75 {
    /*Main modal*/
    background-color: transparent !important;
    border-radius: var(--main-radius);
    box-shadow: -3px -6px 10px 10px black !important;
}
.uploadModal__6eb75::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.uploadModal__6eb75::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.uploadModal__6eb75 .footer_f06dbb {
    /*Footer*/
    background-color: transparent !important;
    box-shadow: unset !important;
}
.uploadModal__6eb75 .inner__7afe9 .file__068e1 .icon__4bc4d.image_c29be6 {
    /*Image preview*/
    background-color: transparent;
    box-shadow: unset;
    filter: drop-shadow(-3px -1px 3px black);
}
.checkboxWrapper-2fDzaA {
    /*Checkbox*/
    color: rgb(var(--server-channel-textc));
    transition: filter 0.35s ease;
}
.checkboxWrapper-2fDzaA:hover:not(.checked__16f88),
.checkboxWrapper-2fDzaA .checked__16f88 {
    /*Checkbox hovered*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.checkboxWrapper-2fDzaA .checked__16f88 {
    /*Checkbox box checked*/
    border-color: rgb(var(--server-channel-textc)) !important;
}
.checkboxWrapper-2fDzaA .checked__16f88 svg path {
    /*Checkbox box checked svg*/
    fill: rgb(var(--server-channel-textc));
    transition: fill 0.35s ease;
}
