/*User card*/

.userPopout-2j1gM4 {
    /*Main modal*/
    border-radius: var(--main-radius);
    background: transparent;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
}
.userPopout-2j1gM4::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.userPopout-2j1gM4::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.userPopout-2j1gM4 .headerNormal-3Zn_yu {
    /*User card header*/
    background-color: transparent !important;
}
.avatarWrapper__0cd44,
.headerTop-3GPUSF,
.aboutMeSection-PUghFQ {
    /*Avatar, username and about me*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.headerTagUsernameNoNickname-1TjuLc {
    /*Username*/
    color: rgb(var(--server-channel-textc));
}
.userPopout-2j1gM4 .body-2wLx-E,
.footer-3naVBw {
    /*User card body/footer*/
    background-color: transparent !important;
}
.body-2wLx-E {
    /*Body padding*/
    padding-bottom: 3px;
}
.role_d81130 {
    /*User card roles*/
    border-radius: var(--button-radius);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
    margin-right: 6px;
    background: transparent;
    border-color: transparent !important;
}
.bodyInnerWrapper-2bQs1k {
    /*User card body subtitles container*/
    text-align: center;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
    background-color: transparent;
}
.bodyTitle-2Az3VQ,
.aboutMeTitle-3pjiS7 {
    /*User card body subtitles*/
    width: fit-content;
    border-bottom: 1px solid rgb(var(--server-channel-textc));
    color: rgb(var(--server-channel-textc));
}
.note-1MiCN7 {
    /*User card note*/
    height: fit-content;
    margin-left: 0px;
    margin-right: 0px;
    width: 99.085%;
    height: 50%;
}
.textarea__0461c {
    /*User card note text area*/
    height: fit-content;
    width: 100.93% !important;
    height: 50% !important;
    background-color: transparent !important;
}
.input_f27786 {
    /*Message user*/
    border-color: rgba(var(--server-channel-textc), 0.35);
    border-radius: var(--button-radius);
    transition: 0.25s ease;
}
.input_f27786:hover {
    /*Message user hover*/
    border-color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.input_f27786:focus {
    /*Message user focus*/
    border-color: rgba(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.activity-11LB_k {
    /*User card activity*/
    background-color: transparent;
}
.headerTop-2cWpdB {
    /*New header top*/
    background-color: transparent;
    border: none;
}
.input__2c88a {
    /*Message box input*/
    background-color: transparent;
}
.avatar-2Vndt_ {
    /*User card avatar*/
    top: 6px;
    left: 6px;
    border: none;
    background-color: transparent;
}
.aboutMeSection-3bipSD,
.aboutMeSection---MkQa {
    /*About me*/
    background-color: transparent;
}
.aboutMeTitle-2M2L3- {
    /*About me title*/
    width: fit-content;
    color: rgb(var(--server-channel-textc)) !important;
    border-bottom: 1px solid rgb(var(--server-channel-textc));
}
.betaBadge-1Ve-yb,
.betaBadge-2EDLLs {
    /*Beta Badge*/
    background-color: transparent !important;
    color: rgb(var(--accent-color));
}
.divider-1wtgZ3 {
    /*User card divider*/
    background-color: transparent;
}

/*Profile modal*/

.root-8LYsGj {
    /*Main modal*/
    border-radius: var(--main-radius);
    background: transparent;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
    background-color: transparent;
}
.root-8LYsGj::before {
    /*Main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.root-8LYsGj::after {
    /*Main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.topSection-13QKHs,
.body__323bb {
    /*Subcontainers*/
    background-color: transparent !important;
}
.tabBarContainer_b283be,
.userInfoSection_e816c1 + .userInfoSection_e816c1,
.noTabBar-2Q-iE_ {
    /*Profile divider*/
    border: none;
}
.thin_b1c063::-webkit-scrollbar-thumb {
    /*Profile scrollbar*/
    background-color: rgb(var(--server-channel-textc)) !important;
}
.topSectionNormal-2-vo2m .avatar-3EQepX,
.topSectionNormal-2-vo2m .headerInfo-30uryT {
    /*User info*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.activity-1ythUs,
.userInfoSectionHeader-CBvMDh {
    /*Subtitles*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.topSectionNormal-2-vo2m .additionalActionsIcon-1FoUlE {
    /*Three dots*/
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.topSectionNormal-2-vo2m .additionalActionsIcon-1FoUlE:hover {
    /*Three dots hovered*/
    color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.tabBar__35f81 {
    /*Profile tabs main*/
    height: 25px;
}
.top_fae1fa .item__48dda {
    /*Profile tabs*/
    color: rgb(var(--server-channel-textc), 0.35);
    border-color: rgb(var(--server-channel-textc), 0.35) !important;
    transition: 0.25s ease;
    margin-right: 20px;
}
.top_fae1fa .item__48dda:hover {
    /*Profile tabs*/
    color: rgb(var(--server-channel-textc), 0.65);
    border-color: rgb(var(--server-channel-textc), 0.65) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.top_fae1fa .selected_a523ff.item__48dda,
.top_fae1fa .item__48dda[style="border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);"] {
    /*Selected tab*/
    color: rgb(var(--server-channel-textc), 1) !important;
    border-color: rgb(var(--server-channel-textc), 1) !important;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.connectedAccount-1xKpli {
    /*Connected account*/
    border-radius: var(--button-radius);
    border-color: rgb(var(--server-channel-textc), 0.15);
    transition: 0.25s ease;
}
.connectedAccountName-j0meX4,
.connectedAccountOpenIcon-2cNbq5 {
    /*Connected account text and icon*/
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.connectedAccount-1xKpli:hover {
    /*Connected account hover*/
    border-color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.connectedAccount-1xKpli:hover .connectedAccountName-j0meX4,
.connectedAccount-1xKpli:hover .connectedAccountOpenIcon-2cNbq5 {
    /*Connected account text and icon hovered*/
    color: rgb(var(--server-channel-textc), 1);
}
.listRow__50619 {
    /*Shared servers*/
    transition: 0.25s;
}
.listRow__50619 .listRowContent-3Kih4Q {
    /*Shared servers text*/
    color: rgb(var(--server-channel-textc), 0.35);
}
.listRow__50619:hover .listRowContent-3Kih4Q {
    /*Shared servers*/
    color: rgb(var(--server-channel-textc), 1);
}
.listRow__50619:hover {
    /*Shared servers hover*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-3px -1px 1px black);
}
.topSectionPlaying-1J5E4n,
.headerFill-39azRn,
.topSectionSpotify-1lI0-P,
.topSectionStreaming-1Tpf5X {
    /*Profile activities*/
    background-color: transparent;
}
.avatar-3QF_VA {
    /*Profile avatar*/
    background-color: transparent;
    border: none;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
