/*Watch party thingy*/

.scroller__3c95c,
.callContainer__486b0,
.container_ffbc98,
.rowContainer__05af6,
.container-3r7mfc,
.participants__921a9 {
    /*Main modals*/
    background-color: transparent;
}
.divider__93173 {
    border: none;
}
.container-3r7mfc,
.rowContainer__05af6,
.roleContainer-WStCpt {
    /*Shadows*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.tileContainer__9f7be {
    /*Users*/
    transition: 0.25s ease;
}
.tileContainer__9f7be:hover {
    /*User hovered*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.auto_cf9d15::-webkit-scrollbar-thumb {
    /*Scrollbar thumb*/
    background-color: rgb(var(--main-dark-color)) !important;
}
.auto_cf9d15::-webkit-scrollbar-thumb,
.auto_cf9d15::-webkit-scrollbar-track {
    /*Scrollbar thing*/
    border: none;
}
.participantsButton__11fa3,
.cta__69e2a {
    /*Call participants button*/
    background-color: rgba(0, 0, 0, 0.3);
}
.participantsButton__11fa3:hover,
.cta__69e2a:hover {
    /*Call participants button hovered*/
    background-color: rgba(0, 0, 0, 0.6);
}
.separator-2lLxgC {
    /*Invite separator*/
    box-shadow: unset !important;
}
.inviteRow_d6ad74 {
    /*Invite friend to channel*/
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.inviteRow_d6ad74:hover {
    /*Invite friend to channel hovered*/
    background-color: transparent !important;
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
