@use "meta";
@use "../../src/settingsIcons";

/* Root Variables */
:root {
    --channel-color: #293f47; /* Selected channel and background color | Default #293f47;*/
    --chat-color: #070707; /* Backgroung color for chat | Default #070707*/
    --chat-shadow-color: #293f47; /*Color for the chat box shadow | Default #293f47*/
    --button-color: #293f47; /*Color for some of the buttons | Default #293f47*/
    --activity-color: #181717; /*Color for the activity bar | Default #181717*/
    --background-primary: #030303; /* Primary theme color | Default #030303*/
    --background-secondary: #030303; /*Secondary theme color | Default #030303*/
}

/*Theme Variables*/
.theme-dark,
.theme-light {
    --chat-scrollbar-width: 20px; /*Changes the scrollbar width on chat | Default 20px*/
    --scrollbar-thumb: #293f47; /*Changes the scrollbar base color | Default #293f47*/
    --background-floating: #030303; /*Right click on user floating background | Default #030303*/
    --background-modifier-hover: #293f47; /*Changes the hover on users color | Default #293f47*/
    --background-message-hover: #293f4757; /*Changes the background of the hovered messages in chat | Default #293f4757*/
    --text-muted: #63a4a8; /*Changes the color of the font of some parts of the Theme (search bar, etc) | Default #63a4a8*/
    --text-link: #8dfce9; /*Changes the color of the links | Default #8dfce9*/
    --channels-default: #afafaf; /*Changes the color of the channel names | Default #afafaf*/
    --blue-hue-elements: #63a4a8; /*Color code for some parts of the theme | Default #63a4a8*/
    --background-modifier-accent: #293f47; /*Color for the lines separating some elements of some menus | Default #293f47*/
}

/*Message selection settings*/
.theme-dark ::selection {
    background-color: hsla(193, 10%, 17%, 0.925); /*Changes the background when selecting a message on the chat*/
    color: #7bcbeb; /*Changes the color of the words of the selected message*/
}

/*Auto scrollbar settings*/

.theme-dark ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
.theme-dark ::-webkit-scrollbar-track {
    background-color: transparent;
}

/*Friends list settings*/
.peopleList_d2f527 {
    background-color: var(--background-primary); /*Changes the background of the friends list*/
    /*Creates a shadow that wraps the friends box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    overflow: auto !important;
}
.selected__7f4cb .layout_bb8e67 {
    background-color: #293f4757;
}
.searchBar__621ec .searchBarComponent__8f95f {
    text-align: center;
    border-radius: 20px;
}
.input__2a648 {
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread_cd86ef {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe {
    background: transparent;
}
.wrapper_f21046 {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    max-width: 100% !important;
}
.peopleListItem_dab480 {
    border-top: 1px solid var(--channel-color);
}
.topPill__63ad4 .item__48dda {
    border-radius: 0px;
    border-bottom: 1.5px solid white;
    color: white;
}
.tabBar__73938 .item_e4ca95[aria-controls="ADD_FRIEND-tab"] {
    background-color: transparent !important;
}
.tabBar__73938 .item_e4ca95[aria-selected="true"] {
    background-color: transparent !important;
    color: var(--blue-hue-elements) !important;
    border-bottom-color: var(--blue-hue-elements) !important;
}
.topPill__63ad4 .item__48dda:hover {
    background-color: transparent !important;
    border-radius: 0px;
    border-bottom: 1.5px solid var(--blue-hue-elements);
    color: var(--blue-hue-elements) !important;
}

/*Active Now settings*/
.nowPlayingColumn_b025fe {
    background-color: rgb(16, 16, 17); /*Changes the background of the Now Active/Playing column*/
}
.wrapper__3c6d5 {
    background-color: rgb(16, 16, 17); /*Changes the color of the the Active Status*/
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.wrapper__3c6d5 .textContent_e33074 {
    color: white; /*Changes the font color of the Now Active/Playing boxes*/
    text-align: unset !important;
}
.section__253ec {
    border: 2px solid var(--channel-color);
    border-radius: 20px;
    background-color: rgb(16, 16, 17);
}
.theme-dark .outer_a41cf3.active__76f42,
.theme-dark .outer_a41cf3.interactive__46c44:hover {
    background-color: var(rgb(16, 16, 17));
    border: 2px solid var(--channel-color);
}
.theme-dark .partyMemberOverflow_fa82b9 {
    background-color: var(--channel-color);
}
.theme-dark .outer_a41cf3.active__76f42 {
    background-color: var(rgb(16, 16, 17));
}
.wrapper__3c6d5:hover {
    background-color: rgb(16, 16, 17) !important;
}
.theme-dark .separator_fc3370 {
    height: 3.5px;
    background-color: transparent;
}
.theme-dark .inset__61d5b {
    background-color: rgb(16, 16, 17);
}
.header-13Cw0- {
    position: relative;
    padding-bottom: 0px;
    text-align: center;
    color: var(--blue-hue-elements);
    text-shadow:
        -1px -1px 0 rgb(37, 37, 37),
        1px -1px 0 rgb(37, 37, 37),
        -1px 1px 0 rgb(37, 37, 37),
        1px 1px 0 rgb(37, 37, 37);
}
.header-13Cw0-::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0;
}
.header-13Cw0-::after {
    background-image: linear-gradient(
        to right,
        transparent,
        rgba(17, 17, 17, 0.5),
        var(--chat-shadow-color),
        rgba(17, 17, 17, 0.5),
        transparent
    );
}
.nowPlayingScroller__5cd67 {
    overflow: auto !important;
}
.emptyCard__204d9 {
    background-color: transparent;
    margin-top: -10px;
}
.scroller__7c25e {
    border: none;
}

/*Top Bar settings*/
.withFrame__5e49e {
    background-color: var(--background-primary); /*Changes the color of the top bar*/
    margin-top: 0px;
}
.wordmarkWindows_ffbc5e {
    color: transparent; /*Hides the "Discord" text on the bar*/
}

/*Chat settings*/
.chatContent_f087cb {
    background-color: var(--chat-color);
    /*Creates a shadow that wraps the chat box*/
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.form_d8a4a1:before {
    height: 0rem;
}
.header__21b33 {
    background-color: var(--background-primary);
}
.messagesPopoutWrap__10dd1 {
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.messageGroupWrapper__1fce2 {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.menu__088f7 {
    border-radius: 20px;
}
.operations__62559 > a {
    color: #7bcbeb;
}
.contents_d3ae0d.channelTextArea__626ee.channelTextArea__648e5 {
    background-color: #111314d0;
    border: 2px solid;
    border-color: #111314d0;
    border-radius: 20px;
}
.theme-dark .header__58a85 .tabBar__2aa8e .tab_a8a066.active__7e7af {
    background-color: var(--channel-color);
}
.container_eb737e {
    border: 1.5px solid var(--channel-color);
    border-radius: 20px;
}
.colorStatusGreen-2HKYOW {
    color: var(--blue-hue-elements);
}
.layers__1c917.layers_a23c37 {
    background-color: var(--channel-color) !important;
}
.peopleColumn__0c784 {
    background-color: var(--background-primary);
}
.wrapper-1cBijl {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled__950dd.colorBrand__27d57:disabled {
    color: white;
    background-color: var(--blue-hue-elements);
}
.lookFilled__950dd.colorBrand__27d57:hover {
    color: white !important;
    background-color: var(--channel-color) !important;
}
.wrapper-1cBijl {
    color: white !important;
}
.container__62863 > * {
    border-color: var(--channel-color) !important;
    border-radius: 20px;
}
.cozy_f5c119.wrapper_a62503:hover {
    background-color: #293f471f !important;
}
.wrapper__8a5dd {
    border: 1px solid var(--blue-hue-elements);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.content__7191e {
    background-color: var(--chat-color);
}
.isUnread_de09f5 .content__7191e {
    color: var(--blue-hue-elements);
}
.wrapper_f5f4c9 {
    color: var(--blue-hue-elements) !important;
    background-color: #293f4757 !important;
}
.wrapper_f5f4c9:hover {
    color: var(--blue-hue-elements) !important;
    background-color: var(--channel-color) !important;
}
.wrapper__57349 {
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-right: 5px solid var(--channel-color);
    border-left: 5px solid var(--channel-color);
    border-radius: 15px;
    width: auto;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632 {
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:hover {
    background-color: var(--activity-color);
}
.embedFull__14919 {
    border-left: 2px solid;
    border-right: 2px solid;
}
.markup_a7e664 code {
    background-color: #03030373;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.cancelButton_ae4b5b,
.downloadButton__3fb6d {
    color: inherit;
}
.mentioned_fa6fd2 {
    background-color: #63a5a818;
}
.mentioned_fa6fd2:before {
    background-color: #63a5a8be;
}
.jumpToPresentBar__69174 {
    background-color: transparent;
    bottom: 3px;
}
.scrollableContainer_ff917f {
    background-color: var(--activity-color);
    border: 5px solid var(--channel-color);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 15px;
}
.divider__855e3 {
    border-top: thin solid var(--channel-color);
}
.replying__38514:before {
    background-color: rgb(0, 255, 255);
}
.replying__38514 {
    background-color: rgba(0, 225, 255, 0.05);
}
.colorBrand-21Le_q {
    color: var(--blue-hue-elements);
}
.blockquoteContainer__66aaa blockquote {
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
    border-radius: 0 8px 8px 0px;
}
.blockquoteDivider__5cbad {
    background-color: var(--blue-hue-elements);
}
.markup_a7e664 code.inline {
    background-color: #63a5a824;
}
.hljs-comment,
.hljs-quote {
    color: #7dce83;
}
.theme-dark .autocomplete__743a5 {
    /*Slash command panel*/
    border: 2px var(--channel-color) solid;
    border-radius: 20px;
    background-color: var(--chat-color);
}
.categoryHeader__70c8e {
    /*Slash command panel header*/
    background-color: var(--chat-color);
}
.builtInSeparator__3f669 {
    /*Slash command panel divider*/
    border-bottom: unset;
}

/*Autocomplete*/
.autocomplete-3l_oCd {
    background-color: var(--background-primary) !important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .selected-3H3-RC {
    background-color: var(--channel-color);
}
.emojiBackground-wnY1bZ {
    background: transparent;
}

/*Listening along*/
.listeningAlong_a3b241 {
    background-color: var(--background-primary);
    border-bottom: 0px;
}

/*Notice message*/
.notice_a687ab {
    background-color: var(--background-primary) !important;
    border-radius: 0px;
}
.lookOutlined__014b5.colorWhite-1H92hK {
    border: 1px solid #293f4757;
    background-color: #293f4757 !important;
}
.formFieldWrapper-2LV3S6 {
    border-radius: 20px;
}
.formFieldWrapper-2LV3S6,
.settingsFormFieldWrapper-U99c9i {
    border: 1px solid var(--channel-color);
}
.lookFilled__950dd.colorGreen__75c93:disabled {
    background-color: var(--activity-color);
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 20px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
}
.termsRowContent-2Qx-E5 {
    color: white;
}

/*Mute/Deafen/Settings bar settings*/
.container_debb33 {
    background-color: var(--background-primary); /*Changes the color*/
    margin: 0px; /*Removes a little margin bar that's left over*/
}

/*New Unread Messages Box Channel List Box*/
.unread__75c9f {
    background-color: #293f47;
    opacity: 0.99;
}

/*Message Box*/
.channelTextArea_c2094b {
    margin-bottom: 20px;
    background-color: var(--chat-color);
}
.channelTextArea_c2094b .scrollableContainer_ff917f {
    background-color: var(--chat-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 15px;
}

/*In call activity box*/
.container_e1958d {
    background-color: var(--background-primary);
    border-bottom: 0px;
}
.panel_bd8c76 {
    background-color: var(--background-primary);
    border-bottom: 0px;
}
.badge-3RBqXG {
    background-color: var(--channel-color);
    color: white;
}
.liveSmall__71bd5 {
    background-color: var(--blue-hue-elements) !important;
}

/*Share screen and Video buttons*/
.button_b82d53 {
    border-radius: 0px;
}
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f,
.button_b82d53 .buttonColor__7bad9.buttonActive_ae686f {
    background-color: #293f4757;
}
.button_b82d53:disabled {
    background-color: var(--activity-color) !important;
    border: 20px;
}

/*User card settings*/
.userPopout-3XzG_A {
    border: 3px solid var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: var(--background-primary);
    overflow: auto !important;
}
.headerTop-3C2Zn0 {
    background-color: var(--background-primary);
}
.activity-11LB_k {
    background-color: var(--background-primary);
}
.lookOutlined__014b5.colorWhite-1H92hK {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.input_f27786 {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.input_f27786.focused-1AtTHC,
.input_f27786:focus {
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.inputDefault-3FGxgL {
    text-align: center;
}
.textarea__0461c {
    height: 40px !important;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--channel-color);
    text-align: center;
}
.textarea__0461c:focus {
    background-color: var(--chat-color-color);
}
.role_d81130 {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 22px;
    margin: 0 6px 6px 0;
    padding: 4px;
}
.botTag__4211a {
    background-color: var(--channel-color);
    color: white;
}
.note-3HfJZ5 {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    margin-left: -4px !important;
    margin-right: 6px !important;
}
.nameNormal_cb5c2b {
    text-align: unset !important;
}
.divider-1wtgZ3 {
    background-color: transparent;
}
.input__2c88a {
    background-color: transparent;
}

/*Server role settings*/
.membersGroup_cad095 {
    text-align: center;
    color: var(--blue-hue-elements);
    position: relative;
    text-shadow:
        -1px -1px 0 rgb(37, 37, 37),
        1px -1px 0 rgb(37, 37, 37),
        -1px 1px 0 rgb(37, 37, 37),
        1px 1px 0 rgb(37, 37, 37);
}
.membersGroup_cad095::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0;
}
.membersGroup_cad095::after {
    background-image: linear-gradient(
        to right,
        transparent,
        rgba(17, 17, 17, 0.5),
        var(--chat-shadow-color),
        rgba(17, 17, 17, 0.5),
        transparent
    );
}

/*Various bars*/
.searchBar-zdmu7v {
    background-color: var(--activity-color);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    padding-left: 40px;
}
.platform-win .sidebar_e031be {
    border-radius: 0 0 0;
}

/* Stream volume bar*/
.mediaBarGrabber__1d527,
.mediaBarProgress_a3b7f1,
.mediaBarProgress_a3b7f1:after,
.mediaBarProgress_a3b7f1:before {
    background-color: var(--blue-hue-elements) !important;
}

/*Stream*/
.segmentControlOption-2LyihQ {
    border-bottom-color: var(--channel-color) !important;
    color: var(--blue-hue-elements) !important;
}
.segmentControlOption-2LyihQ:hover {
    border-bottom-color: var(--channel-color) !important;
    color: var(--blue-hue-elements) !important;
}
.theme-dark .selected-2xa993 {
    border-bottom-color: var(--blue-hue-elements) !important;
}
.theme-dark .streamPreview-3qoMP4 {
    background-color: var(--background-primary);
    border: 3px solid var(--channel-color);
    border-radius: 20px;
}
.inline__2fb15 .pro_db62e1 {
    color: var(--blue-hue-elements) !important;
}
.inline__2fb15 .tip__5f672,
.tip__5f672 {
    color: white !important;
}
.theme-dark .watchButton-2v6cPT {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
}
.card-1SdQ2- {
    border-color: var(--channel-color);
    border-radius: 15px;
}
.tile_a411a4 {
    background: transparent;
}
.group-1_ptLP {
    border: unset;
}
.selectorButtonSelected-3Z0WNU {
    background-color: var(--channel-color);
}
.selectorButton-3sW6Qm:hover {
    background-color: var(--channel-color) !important;
}
.disabledButtonOverlay-1_LsqE {
    background: transparent !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    border-radius: 20px;
}
.lookFilled__950dd.colorBrand__27d57:disabled {
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    border-radius: 20px;
}
.theme-dark .item-2OyinQ {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.selectorTextSelected-6vUbIH {
    color: white !important;
}

/*Picture in picture*/
.pictureInPictureWindow__9f0e6 {
    border: 2px solid var(--channel-color);
    border-radius: 20px;
}

/*Various buttons*/
.button_ae40a4:hover {
    background-color: var(--channel-color) !important;
}
.button_c5d028 {
    background: transparent;
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
}
.button_c5d028:hover {
    background: var(--channel-color);
}
.inviteRowButton__14750 {
    margin-right: 15px;
    color: var(--blue-hue-elements) !important;
    border-color: var(--channel-color) !important;
    border-radius: 5px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
}
.css-o3gndj-placeholder {
    margin-left: 8px;
    color: white;
}
.inputWrapper-1YNMmM {
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 0px 0px var(--chat-shadow-color) inset !important;
    border-color: var(--chat-shadow-color);
    border-radius: 0px;
}
.jumpButton__309d6 {
    border-color: var(--channel-color) !important;
    border-radius: 5px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.jumpButton__309d6:hover {
    background-color: var(--channel-color);
}

/*New Messages line & bar*/
.group-spacing-16.divider__01aed {
    margin-top: 4px;
    margin-bottom: 4px;
}
.isUnread_de09f5 {
    border-color: var(--channel-color);
}
.unreadPill__1b4fa {
    background-color: var(--channel-color);
}
.unreadPillCapStroke__89d64 {
    color: var(--channel-color);
    fill: var(--channel-color);
}
.newMessagesBar__8b272 {
    background-color: var(--channel-color);
}
.barButtonMain__984b4 {
    background-color: var(--channel-color);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.barButtonAlt_e800ef {
    background-color: var(--channel-color);
    border-radius: 20px;
}

/*Emojis and emotes tab*/
.list-obNEuP {
    background-color: var(--background-primary);
}
.unicodeShortcut__01a83 {
    background-color: var(--background-primary);
}
.inspector__80c84 {
    background-color: var(--background-primary);
}
.contentWrapper_e0bb2c {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.navItem__38e35 {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.navButtonActive__0c878 {
    border-radius: 20px;
    background-color: var(--channel-color);
}
.inner__178b2 {
    background-color: var(--chat-color);
    border: 1px solid var(--channel-color);
}
.button_bfb8e1 {
    background-color: var(--background-primary) !important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-color: var(--chat-shadow-color);
    border-radius: 20px;
}
.theme-dark .categoryFadeBlurple-1HuV1x,
.theme-light .categoryFadeBlurple-1HuV1x {
    background-color: #293f47cc !important;
}
.theme-dark .categoryFade-2EGqIh:hover {
    border-color: var(--channel-color);
}
.inner__999f6 {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.theme-dark .emptyHintCard-3Btf0V {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary) !important;
}
.emojiSection_ab054b {
    background-color: var(--background-primary);
    border: 2px solid var(--channel-color);
    border-radius: 20px;
}
.popoutContainer__66068 {
    background: transparent;
}
.emojiName-3KEqts {
    color: white !important;
    text-align: center;
}
.size14-3fJ-ot {
    text-align: center;
}
.emojiItem_de65fd.emojiItemSelected__023be {
    background-color: var(--channel-color);
}

/*Nitro Gifting page*/
.content__3ea16 {
    border-radius: 2px;
    border: 1px solid var(--channel-color);
    background-color: var(--background-primary);
}
.horizonal-2R4X-v .button-3WZC0G {
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--background-primary);
}
.scroller-2M3eAB {
    overflow: auto !important;
}
.breadcrumbsWrapper--2LhnQ {
    border-bottom: 1px solid var(--channel-color);
}

/*Settings*/
.lookFilled__950dd.colorBrand__27d57 {
    text-align: center;
    border-radius: 20px;

    background-color: var(--channel-color);
}
.lookFilled__950dd.colorGrey-2iAG-B {
    background-color: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
}
.lookFilled__950dd.colorGrey-2iAG-B:hover {
    background-color: var(--channel-color);
}
.lookFilled__950dd.colorBrand__27d57:active {
    background-color: #293f4757;
}
.lookFilled__950dd.colorBrand__27d57:hover {
    background-color: #293f4757;
}
.side_b4b3f6 .themed-2-lozF.selected_a523ff.item__48dda,
.topPill__63ad4 .themed-2-lozF.selected_a523ff.item__48dda {
    background-color: #293f4757;
}
div.sidebarRegion__36437 {
    color: var(--blue-hue-elements) !important;
    background-color: var(--background-primary) !important;
}
.theme-dark .codeRedemptionRedirect-3SBiCp {
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
}
.scroller-1bVxF5 {
    height: auto;
    width: auto;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 0px;
    border-radius: 20px;
}
.colorDefault_e361cf.focused_dcafb9 {
    background-color: var(--channel-color);
}
.layer-2aCOJ3 {
    height: auto;
}
.colorDefault_e361cf:active:not(.hideInteraction-1iH010) {
    background-color: #293f4757 !important;
}
.colorDanger__08c25.focused_dcafb9 {
    background-color: #f04747 !important;
}
.theme-dark .root_a28985 {
    border: 0px solid #293f47 !important;
    background-color: #030303;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
}
.theme-light .root_a28985 {
    box-shadow:
        0 0 0 0px rgba(185, 187, 190, 0.3),
        0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.theme-dark .footer-31IekZ {
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0 rgba(47, 49, 54, 0.6);
    overflow: auto !important;
}
.theme-light .footer-31IekZ {
    border: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent !important;
    box-shadow: inset 0 0px 0 rgba(47, 49, 54, 0.6);
    overflow: auto !important;
}
.content-2hZxGK {
    overflow: auto !important;
}
.item_b7fb7e[aria-checked="true"] {
    background-color: var(--background-primary);
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.container-2nx-BQ:not([style*="rgb(114, 118, 125)"]),
.button__581d0[style*="114, 137, 218"] {
    background-color: var(--channel-color) !important;
}
.radioIconForeground-2BMavi {
    color: var(--blue-hue-elements);
}
.css-17mfgdg-container {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
    background-color: var(--background-primary) !important;
    border-color: var(--channel-color) !important;
    border: 1px solid var(--channel-color) !important;
    border-radius: 20px !important;
}
.cardPrimary-3qRT__ {
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 10px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookOutlined__014b5.colorBrand__27d57 {
    color: white;
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--channel-color);
}
.lookOutlined__014b5.colorBrand__27d57:active:not(.hideInteraction-1iH010) {
    background-color: var(--channel-color) !important;
}
.authedApp-1tw-eT {
    border-color: var(--channel-color);
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.accountList-305sx3 {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.connectionHeader-2rV1ze {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px !important;
    box-shadow: 3px 0px 10px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 2px 2px 0px var(--chat-shadow-color) inset;
}
.connectionOptionsWrapper-1ipqUo {
    border-top: 0px !important;
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.integration-1f5IUi {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px !important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.theme-dark .feature-2IUcBI {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px !important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.lookFilled__950dd.colorGreen__75c93 {
    background-color: var(--channel-color);
}
.lookFilled__950dd.colorGreen__75c93:hover {
    background-color: var(--channel-color);
}
.theme-dark .checkbox_fcf2ad:not([style*="rgb(114, 137, 218)"]),
.checkbox_fcf2ad[style*="114, 137, 218"] {
    background-color: var(--chat-color) !important;
    border-color: var(--channel-color) !important;
}
.planOptionDiscount-2UFc37 {
    background-color: var(--channel-color);
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632 {
    background-color: var(--background-primary);
}
.theme-dark .lookFilled__950dd.colorPrimary_ebe632:hover {
    background-color: var(--channel-color);
}
.card-2gdrYL {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px !important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.barFill__1f56b {
    background: var(--channel-color);
}
.defaultValue-19SZ-q .markValue-2U_-UG {
    color: #7bcbeb;
}
.css-3vaxre-menu {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    overflow: auto !important;
}
.css-gvi9bl-control {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark .card_dc88cd:hover {
    background-color: var(--activity-color);
}
.theme-dark .card_dc88cd:before {
    background-color: var(--activity-color);
    border-color: var(--channel-color);
}
.theme-dark .notDetected-2HEmAp,
.theme-light .notDetected-2HEmAp {
    border-radius: 20px;
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
}
.theme-dark .game-3x3aDt {
    box-shadow: 0px 1px 0px 0px var(--chat-shadow-color) inset;
}
.added-2hLRj3 {
    color: var(--blue-hue-elements) !important;
}
.added-2hLRj3:after {
    background-color: #64a4a8 !important;
}
.wrapper__4b6b3 {
    border-color: var(--channel-color);
}
.selected__4e154.option__1d8de {
    background-color: var(--channel-color);
}
.option__1d8de:hover {
    background-color: var(--channel-color);
}
.subtitle-3Kkhfr,
.title-3VYtQS {
    border: 0px !important;
}
.colorBrand-3cPPsm {
    color: var(--blue-hue-elements);
}
.lookOutlined__014b5.colorRed-rQXKgM {
    color: var(--blue-hue-elements);
    border: 1px solid var(--blue-hue-elements);
    border-radius: 20px;
}
.authedApp-1tw-eT:focus-within .deleteApp-3NqwJh,
.authedApp-1tw-eT:hover .deleteApp-3NqwJh {
    color: #f04747;
    border-color: #f04747;
}
.deleteApp-3NqwJh {
    opacity: unset;
}
.theme-dark .subText__3b709 {
    color: #959799;
}
.divider-_0um2u {
    border-top: thin solid var(--channel-color);
}

/*Discord Nitro button*/
.side_b4b3f6 .item__48dda[aria-controls="Discord Nitro-tab"] {
    background-color: transparent !important;
    color: var(--blue-hue-elements) !important;
}
.side_b4b3f6 .item__48dda[aria-controls="Discord Nitro-tab"]:focus {
    background-color: #293f4757 !important;
    color: white !important;
}
.side_b4b3f6 .item__48dda[aria-controls="Discord Nitro-tab"]:hover {
    background-color: var(--channel-color) !important;
    color: white !important;
}

/*Close button*/
.theme-dark .closeButton__8177f {
    border-color: var(--channel-color);
}

/*Add a Server Button & Explore Server Buttons*/
.circleIconButton-1QV--U {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    -webkit-transition:
        color 0.15s ease-out,
        background-color 0.15s ease-out;
    transition:
        color 0.15s ease-out,
        background-color 0.15s ease-out;
    color: #293f47;
    background-color: var(--background-primary);
}

.lookFilled__950dd.colorGrey-2iAG-B {
    background-color: #030303;
}
.scroller__26b89 {
    background-color: var(--background-primary);
}
.theme-dark .card__86773,
.theme-dark .iconMask__4092e {
    background-color: var(--activity-color);
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.search_e47903 {
    background-color: transparent !important;
}
.search_e47903 .searchBox__02d0b {
    background-color: var(--activity-color);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background-color: var(--channel-color);
}

/*Blur Username, E-mail and phone in settings*/

.field__69fa0 + .field__69fa0 .colorHeaderPrimary-jN_yGr.size16-rrJ6ag {
    filter: blur(8px);
}
.field__69fa0 + .field__69fa0 .colorHeaderPrimary-jN_yGr.size16-rrJ6ag:hover {
    filter: blur(0px);
    transition: 150ms;
}
.usernameInnerRow_c95e17 {
    filter: blur(8px);
}
.usernameInnerRow_c95e17:hover {
    filter: blur(0px);
    transition: 150ms;
}

/*BD Settings*/
#bd-settingspane-container .ui-switch-item {
    text-align: left;
}
.bd-addon-list .bd-addon-card {
    background-color: var(--background-primary) !important;
    background: var(--background-primary) !important;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
    border: 1px solid var(--channel-color) !important;
    border-radius: 20px !important;
}
.bd-select {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
    border: 1px solid var(--channel-color) !important;
    border-radius: 20px !important;
}
.bd-select .bd-select-options {
    border: 1px solid var(--channel-color) !important;
    border-radius: 20px;
}
.bd-button {
    background-color: var(--channel-color);
}
.bd-addon-views .bd-view-button.selected {
    background-color: var(--channel-color);
}
.bd-select-wrapper label {
    color: white;
}
.bd-addon-list .bd-addon-header {
    background-color: transparent;
}
.bd-switch input:checked + .bd-switch-body {
    --switch-color: var(--channel-color) !important;
}
.bd-pfbtn {
    background-color: var(--channel-color);
}
.bd-search-wrapper {
    background: var(--background-primary);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--channel-color);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: #293f4757;
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: 1px solid var(--channel-color);
}
.bd-addon-list a {
    color: #64a4a8;
}
.bd-select .bd-select-option {
    background-color: var(--background-primary);
}
.bd-select .bd-select-option:hover,
.bd-select .bd-select-option.selected {
    background-color: var(--channel-color);
}

/*Join a server Window*/
.scroller__18a89 {
    background-color: var(--background-primary);
}
.theme-dark .contentWrapper_f9bc93 {
    background-color: transparent;
}
.scroller__18a89 {
    overflow: hidden hidden !important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.inviteSplash__0cd5c {
    display: none !important;
}
.lookLink_a2da25.colorBrand__27d57:hover .contents-3ca1mk {
    background-image: linear-gradient(0deg, transparent, transparent 1px, var(--channel-color) 0, var(--channel-color) 2px, transparent 0);
}

/*Server selected channel*/
.scroller__18a89 {
    background-color: var(--background-primary);
}
.pill_c0440d {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
}
.lookLink_a2da25.colorBrand__27d57 {
    color: var(--blue-hue-elements);
}
.optionContainer__0233f:hover {
    background-color: #293f4757;
}
.modeSelected__473f1 .wrapper__612a5,
.modeSelected__473f1:hover .wrapper__612a5 {
    background-color: #293f4757;
}
.unread__48cf4 {
    background-color: var(--blue-hue-elements);
    height: 10px;
    width: 7px;
}

/*Notification Settings*/
.lookFilled__9c1ef.select_fe2671 {
    border: 1px solid;
    border-color: var(--channel-color);
    border-radius: 20px;
}
.popout_a6e77f {
    border: 1px solid var(--channel-color);
}
.option-2eIyOn.focused-ODgjnC,
.option-2eIyOn:focus,
.option-2eIyOn:hover {
    background-color: #293f4757;
}

/*Create server window*/
.colorHeaderSecondary-g5teka {
    color: var(--blue-hue-elements);
}
#uid_8731 > button > div > svg > path {
    fill: var(--blue-hue-elements) !important;
}
.container__9dd63 {
    background-color: #030303;
    color: var(--blue-hue-elements) !important;
}
.title-1_TkpU {
    color: white !important;
}
.colorStandard-21JIj7 {
    color: var(--blue-hue-elements);
}

/*Upload pictures*/
.uploadModal__6eb75 {
    background-color: var(--background-primary) !important;
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}
.uploadModal__6eb75 .footer_f06dbb {
    background-color: var(--background-primary);
    border-color: var(--channel-color);
    border-radius: 0 0 20px 20px;
}
.uploadModal__6eb75 .inner__7afe9 .channelTextAreaUpload_f0f311 {
    background-color: var(--background-primary) !important;
}

/*Server Boost Window*/
.perksModal-fSYqOq {
    background-color: var(--background-primary) !important;
}
.theme-dark .tierBody-16Chc9 {
    background-color: var(--activity-color) !important;
}
.perk-2WeBWW {
    background-color: var(--activity-color) !important;
}
.ctaBar-2UsjF2 {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
}

/*No pin in channel footer*/
.footer__6b9ef {
    background-color: var(--background-primary);
}
.pro_db62e1 {
    color: var(--blue-hue-elements) !important;
}

/*Profile window*/
.root-SR8cQa {
    background-color: var(--background-primary);
}
.topSectionNormal-2-vo2m {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.body-3ND3kc {
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-top: 0px;
    border-radius: 0 0 20px 20px;
}
.top_fae1fa .item__48dda {
    border-bottom-color: var(--channel-color) !important;
    color: var(--blue-hue-elements) !important;
}
.top_fae1fa .selected_a523ff.themed-2-lozF.item__48dda,
.top_fae1fa .themed-2-lozF.item__48dda:active,
.top_fae1fa .themed-2-lozF.item__48dda:hover {
    border-bottom-color: var(--blue-hue-elements) !important;
}
.note-QfFU8y textarea {
    border-radius: 20px;
    padding: 8px;
}
.connectedAccount-36nQx7 {
    border-radius: 20px;
    border: 1px solid var(--channel-color);
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset !important;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset !important;
}
.topSectionSpotify-1lI0-P {
    background: var(--background-primary);
    background-color: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: 0px;
    border-radius: 20px 20px 0 0;
}
.actionButton-3W1xZa {
    background-color: var(--channel-color) !important;
    color: white !important;
    border-radius: 20px;
}
.tabBarContainer-1s1u-z {
    border-top: 1px solid var(--blue-hue-elements);
}
.topSectionPlaying-1J5E4n {
    background: var(--background-primary);
    border: 1px solid var(--channel-color);
    border-bottom: unset;
    border-radius: 20px 20px 0 0 !important;
}
.tabBarContainer-1s1u-z {
    border: unset;
}
.userInfoSection-2acyCx + .userInfoSection-2acyCx {
    border: unset;
}
.tabBarItem-1b8RUP {
    border-bottom-color: var(--channel-color) !important;
    color: var(--blue-hue-elements) !important;
}
.top_fae1fa .item__48dda:active,
.top_fae1fa .item__48dda:hover {
    border-color: var(--blue-hue-elements) !important;
    color: var(--blue-hue-elements) !important;
}

/*Search results*/
.resultsGroup-1BPR25 {
    background-color: var(--background-primary) !important;
}
.theme-dark .option-2KkUJO:after {
    background: -webkit-gradient(linear, left top, right top, from(#63a5a818), color-stop(80%, var(--blue-hue-elements)));
    background: linear-gradient(90deg, #63a5a818, var(--blue-hue-elements) 80%);
}
.theme-dark .elevationBorderHigh__24051 {
    -webkit-box-shadow:
        0 0 0 1px #293f47,
        0 2px 10px 0 #030303;
    box-shadow:
        0 0 0 1px #293f47,
        0 2px 10px 0 #030303;
}
.theme-dark .option-2KkUJO.selected-rZcOL- {
    background-color: #63a5a818 !important;
}
.theme-dark .option-2KkUJO.selected-rZcOL-:after {
    background: -webkit-gradient(linear, left top, right top, from(#63a5a818), color-stop(80%, var(--blue-hue-elements)));
    background: linear-gradient(90deg, #63a5a818, var(--blue-hue-elements) 80%);
}
.theme-dark .focused__68b93 {
    background-color: var(--background-primary);
}
.theme-dark .dim-2Uxgxb span {
    background-color: var(--channel-color);
}
.theme-dark .queryContainer_c1cb2f {
    background-color: var(--background-primary);
}
.searchHeader__4d70e {
    background-color: var(--background-primary);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: var(--channel-color);
}
.input__2a648 {
    border: 1px solid var(--channel-color);
    background-color: var(--activity-color);
}
.contentUnread_cd86ef {
    border: 1px solid var(--channel-color);
    border-radius: 20px;
    background-color: var(--background-primary);
}
.resultFocused-3aIoYe {
    background: transparent;
}
.name__901c7:hover {
    background-color: #293f4757;
}
.theme-dark .activeButton-LRWFC_ {
    background-color: var(--channel-color);
}
.theme-dark .activeButton-LRWFC_:hover {
    background-color: var(--channel-color);
}
.roundButton-2_R5PN:hover {
    background-color: #63a5a818;
}
.pageButton-1GMGeJ:hover {
    background: transparent;
    color: var(--blue-hue-elements);
}
.button_ef08e7 {
    background-color: var(--activity-color);
    color: white !important;
}
.button_ef08e7:hover {
    background-color: var(--channel-color);
    color: white !important;
}
.highlight {
    background: var(--channel-color);
    color: white;
}
.channelName-3w2Y3c:hover {
    color: var(--blue-hue-elements);
}

/*Guilds*/
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
    background: none !important;
}
.homeIcon-FuNwkv {
    color: transparent !important;
    background: url("https://minidiscordthemes.github.io/rmkx/LlunaPlena/icon/home-icon.svg") center no-repeat;
    background-size: 36px;
    z-index: 2;
    width: 56px;
    height: 56px;
}
.scroller_de945b {
    background-color: var(--background-primary);
}
.guildSeparator-33mFX6 {
    background-color: var(--blue-hue-elements);
}
.item_f9d377 {
    background-color: var(--blue-hue-elements);
}
.circleIconButton-1QV--U.selected-1JjBPm {
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
    background-color: var(--chat-color);
}
.listItem-GuPuDH:focus {
    width: 75%;
    margin: 8px;
    border-radius: 20px;
    box-shadow: 5px 0px 5px 0px var(--chat-shadow-color) inset;
    box-shadow: 0px 0px 10px 0px var(--chat-shadow-color) inset;
}
.wrapper1BJsBx.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
    border-radius: 20px;
    background-color: transparent !important;
}
.numberBadge__40d6f {
    background-color: var(--blue-hue-elements) !important;
}
.iconBadge__0c126 {
    background-color: var(--blue-hue-elements) !important;
}
.tree__7a511:focus {
    /*Removes outline when double clicking guild bar*/
    outline: none;
}

/*Folders*/
.folderIconWrapper-1_bOZe {
    background-color: transparent !important;
    box-shadow: unset;
}
.expandedFolderIconWrapper-Huv7rA {
    background-color: transparent !important;
    border: 1px;
    border-radius: 15px;
    box-shadow: 3px 0px 3px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 5px 0px var(--blue-hue-elements) inset;
}
.expandedFolderBackground-1cujaW {
    background-color: transparent !important;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset;
    box-shadow: 0px 0px 0px 0px var(--blue-hue-elements) inset;
    border-radius: 15px;
}

/*Reactions*/
.reaction_ef7e09 {
    border-radius: 20px;
    background-color: var(--activity-color);
}
.reactionInner-9eVHJa {
    background-color: transparent;
}
.reaction_ef7e09.reactionMe__9fc5c {
    background-color: #3953539c;
}
.reactionMe__9fc5c .reactionCount-1zkLcN,
.reactionMe__9fc5c:hover .reactionCount-1zkLcN {
    background-color: transparent !important;
    color: #fdfdfd;
}

/*Text File Preview*/
.textContainer__65f57 {
    border: 1px solid var(--blue-hue-elements) !important;
    border-radius: 15px 15px 0px 0 !important;
    border-bottom: unset !important;
}
.footer__90194 {
    border: 1px solid var(--blue-hue-elements) !important;
    border-radius: 0 0 15px 15px !important;
    border-top: unset !important;
}
.modalTextContainer_ce11a8 {
    border: 1px solid var(--blue-hue-elements) !important;
    border-radius: 15px 15px 0px 0 !important;
    border-bottom: unset !important;
}

/*Keyboard shortcuts*/
.theme-dark .keyboardShortcutsModal__44538 {
    /*KB shortcuts main panel*/
    background-color: var(--chat-color);
}
.keybindShortcut-3zF1P9 span {
    /*KB shortcuts buttons*/
    background-color: var(--channel-color);
}

/*GooseMod compatibility*/
.children_aba8cb div[style*="display: grid;"] > div {
    border: 1px solid var(--channel-color);
    display: grid !important;
}
.children_aba8cb div[style*="display: grid;"] div[style*="width: calc(100% - 32px);"] {
    /*Main elements addons*/
    left: 5px !important;
}

.textBadge_f05120 {
    /*Banner nitro badge*/
    background-color: transparent !important;
}
