/*Active Now*/

.nowPlayingColumn_b025fe .header_c56a27,
.nowPlayingSidebar-2OFn0o .header_c56a27 {
    /*Active now text*/
    text-align: center;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    font-size: 0.9rem;
    padding-bottom: 0px;
    margin-top: -4px;
    font-weight: 600;
}
.nowPlayingColumn_b025fe .wrapper__3c6d5,
.nowPlayingSidebar-2OFn0o .wrapper__3c6d5 {
    /*Active now cards main container*/
    margin-bottom: 18px;
}
.itemCard_b64118 {
    /*Active now cards*/
    border-radius: 8px;
    background: var(--popout-bg) center/cover no-repeat;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.569);
    border: unset;
    transition: box-shadow 0.25s ease;
}
.itemCard_b64118 .inset__61d5b {
    /*Active now activity*/
    background-color: transparent !important;
}
.itemCard_b64118:hover {
    /*Active now cards*/
    box-shadow: -3px -3px 5px 3px rgba(0, 0, 0, 0.569);
}
.nowPlayingColumn_b025fe .wrapper__3c6d5 > div,
.nowPlayingSidebar-2OFn0o .wrapper__3c6d5 > div {
    /*Active now card info*/
    transition: filter 0.25s ease;
}
.nowPlayingColumn_b025fe .wrapper__3c6d5:hover > div,
.nowPlayingSidebar-2OFn0o .wrapper__3c6d5:hover > div {
    /*Active now hovered card info*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.nowPlayingColumn_b025fe .emptyText__18c2a,
.nowPlayingSidebar-2OFn0o .emptyText__18c2a {
    /*No one active text*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.voiceSectionDetails__00679:hover .voiceSectionText__406cb {
    /*Hovered activity*/
    text-decoration: none;
}
.separator_fc3370 {
    /*Divider*/
    display: none;
}
.scroller__7c25e {
    /*active now border*/
    border: none;
}
