/*Background*/

@mixin overlay {
    content: "";
    position: absolute;
    inset: 0;
}

#app-mount {
    // Background 1
    &::before {
        @include overlay;
        background: var(--app-background);
        background-position: center;
        background-size: cover;
        z-index: -2;
    }

    // Background 2
    &::after {
        @include overlay;
        background-color: rgba(0, 0, 0, var(--app--bg-opacity));
        z-index: -1;
    }

    .container_d1f8f5 {
        // Background 2
        &::before {
            @include overlay;
            background: var(--background-image);
            background-position: center;
            background-size: cover;
            filter: blur(var(--bg-blur));
            z-index: -2;
        }

        // Background 2
        &::after {
            background-color: rgba(0, 0, 0, var(--bg-opacity));
            z-index: -1;
        }
    }
}

// Transparent panels
.addReactButton__4342f,
.addReactButton__4342f:hover,
.app_de4237,
.appMount_c99875,
.audienceVoiceUserIconContainer-1aQGLF,
.bg__12180,
.buttonInner__865de,
.buttonInner__865de:hover,
.chat__52833,
.chatContent_f087cb,
.chatTarget_f14a03,
.clickable__1383f:not(.selected__987e6) .header__77c95:hover,
.container__7e23c,
.container__3673d,
.container_de2a56:hover,
.container_b92032,
.container__694a1,
.container__68e43,
.container__26baa.themed_b152d4,
.containerDefault_ae2ea4 .unread__48cf4,
.emptyCard__204d9,
.header__77c95,
.iconWrapper_a8f659,
.listDefault__4e3fa .clickable_a2c5ad:hover .content__3b07e,
.listDefault__4e3fa .clickable_a2c5ad.selected__80fc0 .content__3b07e,
.mainCard__0ec2c,
.member_b44d5d,
.members__573eb .content-2a4AW9,
.members__573eb,
.modeSelected__473f1 .wrapper__612a5,
.nowPlayingColumn_b025fe,
.outer_a41cf3,
.panels__58331 .container_debb33,
.partyMemberOverflow_fa82b9,
.pill_f055c3,
.privateChannels__9b518 .scroller__89969,
.privateChannels__9b518,
.reaction__4a43f,
.reaction__4a43f:hover,
.scroller_de945b,
.scroller__89969,
.section__253ec,
.selected__987e6 .header__77c95,
.selected__987e6 .header__77c95:hover,
.sidebar_e031be .container__7e23c,
.sidebar_e031be,
.sortDropdown__40a16,
.tag-19iIl1,
.tagsButton__34537,
.unread__75c9f,
.uploadInput_a6cb60,
.wrapper__216eb,
.wrapper__612a5:hover .wrapper__612a5,
body {
    background: transparent;
}

.container_bd15da,
.voiceSectionIconWrapper_b3ec85 {
    background: transparent !important;
}
