/*Chat settings*/

.form_d8a4a1:before,
.children_cde9af:after {
    /*Random pseudoelements*/
    display: none !important;
}
.content__01e65:before {
    /*Channel description underline*/
    box-shadow: unset;
}
.chat__52833 .toolbar__62fb5 {
    /*Inbox, help, etc container*/
    position: absolute;
    right: 7.5%;
    transform: translateX(-7.5%);
}
.toolbar__62fb5 .clickable_ce0925 .icon_ae0b42,
.toolbar__62fb5 .clickable_ce0925[aria-checked="false"] .icon_ae0b42 {
    /*Inbox, help, etc icons*/
    color: rgba(255, 255, 255, 0.5);
    transition: 0.35s ease;
}
.toolbar__62fb5 .clickable_ce0925[aria-checked="true"] .icon_ae0b42 {
    /*Inbox, help, etc icons*/
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.toolbar__62fb5 .clickable_ce0925:not([aria-checked="true"]) .icon_ae0b42:hover {
    /*Inbox, help, etc icons hovered*/
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.toolbar__62fb5 .clickable_ce0925.selected__1fc53 .icon_ae0b42 {
    /*Inbox, help, etc icons selected*/
    color: rgba(255, 255, 255, 1) !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) !important;
}
.chat__52833 .topic__16ae3 {
    /*Channel description*/
    max-width: 55%;
}
.wrapper__11501,
.wrapper__6b7d8 {
    /*Chat loading messages*/
    background: transparent;
}
.scrollerSpacer__6b1b6 {
    /*Space between last message and chat box*/
    height: 10px;
}
.content__7191e {
    /*Day message*/
    background: transparent;
    border-radius: 3px;
}
.wrapper__4e6b6,
.full-motion .wrapper__4e6b6:hover {
    /*Reply to/More options main container*/
    background-color: transparent;
    box-shadow: none;
}
.wrapper__4e6b6 .button_d4bf9b {
    /*Reply to/More options buttons*/
    color: rgb(var(--server-channel-textc));
    transition: filter 0.25s ease;
}
.wrapper__4e6b6 .button_d4bf9b:hover {
    /*Reply to/More options buttons*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    background-color: transparent;
}
.markup_a7e664 pre {
    /*code modal*/
    margin-bottom: 6px;
}
.markup_a7e664 code {
    /*code modal*/
    border-radius: var(--main-radius);
    border: none;
    background: rgba(0, 0, 0, 0.35);
}
.hljs-comment {
    /*Code comment*/
    color: green;
}
.cozy_f5c119.wrapper_a62503 .markup_a7e664 {
    /*Chat code modal*/
    padding-bottom: 3px;
}
.embedFull__14919 {
    /*Chat embed*/
    border-left: var(--embed-border) solid;
    background: rgba(0, 0, 0, 0.35);
    border-radius: var(--main-radius);
}
.wrapper__8a5dd, /*Discord server link*/
.wrapper_f09ac7 {
    /*Video embed*/
    background: rgba(0, 0, 0, 0.35) !important;
    border-radius: var(--main-radius) !important;
}
.tileHorizontal_ee4bae {
    /*Nitro gift embed*/
    background-color: rgba(0, 0, 0, 0.35) !important;
    box-shadow: unset !important;
    border-radius: var(--main-radius);
}
.invalidPoopHorizontal_bb9f32 {
    /*Nitro gift embed 2*/
    background-color: transparent !important;
}
.attachment__06ca3 {
    /*Attached file*/
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: var(--main-radius);
}
.wrapperAudio__178e9 {
    /*Attached audio*/
    border-color: transparent !important;
    background-color: rgba(0, 0, 0, 0.35) !important;
    border-radius: var(--main-radius) !important;
}
.message_ff43e6 {
    /*Deleting file*/
    background-color: transparent !important;
}
.role__9690d,
.role__9690d:hover {
    /*Allowed roles in channel*/
    background-color: transparent;
    transition: filter 0.25s ease;
}
.role__9690d:hover {
    /*Hovered allowed role in channel*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.operations__62559 > a {
    /*Cancel/save buttons when editing*/
    color: rgba(var(--accent-color), 0.75);
}
.modalTextContainer_ce11a8 {
    /*Expanded text file*/
    background-color: transparent;
    border-color: transparent;
}
.resultsBlocked_a0f950 {
    /*Blocked users results*/
    background-color: transparent;
    border-color: transparent;
}
.invite__2a93b {
    /*Spotify invite panel*/
    border-color: transparent !important;
    background-color: transparent !important;
}
.container__62863 > iframe[class="embedSpotify__13fe9 embedWrapper__47b23"] {
    /*Spotify embed border*/
    border-radius: 8px !important;
}
.container__10c80 {
    /*File attached main container*/
    border-radius: var(--main-radius);
    background: rgba(0, 0, 0, 0.35);
}
.container__10c80 .hljs {
    /*File attached code preview*/
    box-shadow: none;
}
.container__10c80 .textContainer__65f57,
.container__10c80 .footer__90194 {
    /*File attached subcontainers*/
    border: none;
    background-color: transparent;
}
.modalRoot_d45f8d {
    /*Expanded file preview main modal*/
    background: transparent;
    background-size: cover;
    border-radius: var(--main-radius);
    top: 50%;
    transform: translateY(-50%) !important;
    height: 90%;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569) !important;
}
.modalRoot_d45f8d::before {
    /*Expanded file preview main modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.modalRoot_d45f8d::after {
    /*Expanded file preview main modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.modalContent__04da4 {
    /*Expanded file modal*/
    border-radius: var(--main-radius);
}
.modalTextContainer_ce11a8,
.footer__90194 {
    /*File preview main containers*/
    background-color: transparent;
    border: none;
}
.modalTextContainer_ce11a8 {
    overflow-x: auto !important;
    height: 100%;
}
.modalTextContainer_ce11a8::-webkit-scrollbar-thumb,
.scrollbarGhostHairline__00100::-webkit-scrollbar-thumb {
    /*File preview scrollbar*/
    background-color: rgb(var(--server-channel-textc)) !important;
}
.card__3662a,
.card__3662a:hover {
    /*First server steps cards*/
    background-color: transparent;
}
.cozy_f5c119.wrapper_a62503 {
    /*Chat message settings*/
    transition: filter 0.25s ease;
}
.cozy_f5c119.wrapper_a62503:hover {
    /*Chat message hovered settings*/
    background-color: rgb(0, 0, 0, 0.05) !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.emptyChannelIcon_d45c50 {
    /*Channel icon in chat*/
    background-color: transparent;
}
.wrapper_f5f4c9 {
    /*Channel linked in chat*/
    color: rgb(var(--accent-color)) !important;
    background-color: transparent !important;
}
.group-spacing-16 .divider__01aed .content__7191e {
    color: rgb(var(--server-channel-textc));
    font-size: 0.85rem;
}
.group-spacing-16 .divider__01aed.isUnread_de09f5 {
    /*Unread new message border*/
    border: 1px solid rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.group-spacing-16 .divider__01aed.isUnread_de09f5:not(.hasContent__1fe13) {
    /*Unread new message margin*/
    margin: 8px 0 8px 0;
}
.group-spacing-16 .divider__01aed.isUnread_de09f5 .unreadPill__1b4fa {
    /*Unread new message tag*/
    background-color: rgb(var(--server-channel-textc));
    overflow: visible !important;
    color: black;
    right: -0.1%;
}
.group-spacing-16 .divider__01aed .unreadPillCapStroke__89d64 {
    /*New message tag*/
    fill: rgb(var(--server-channel-textc));
    color: rgb(var(--server-channel-textc));
}
.group-spacing-16 .divider__01aed.hasContent__1fe13:not(.isUnread_de09f5) {
    /*New day text*/
    border-color: transparent;
}
.group-spacing-16 .divider__01aed.hasContent__1fe13:not(.isUnread_de09f5) .content__7191e {
    transform: translateY(-3px);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.group-spacing-16 .divider__01aed.hasContent__1fe13:not(.isUnread_de09f5) .content__7191e::before {
    /*New day text underline*/
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    width: 125%;
    height: 2px;
    background: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.group-spacing-16 .divider__01aed.hasContent__1fe13.isUnread_de09f5 {
    /*Unread new message on new day*/
    top: 5px;
}
.group-spacing-16 .divider__01aed.hasContent__1fe13.isUnread_de09f5 .content__7191e {
    /*Unread new message on new day text*/
    transform: translateY(-7px);
}
.content-s2SEQO a,
.wrapper_f5f4c9 {
    /*Description modal links*/
    color: var(--text-link);
}
.channelSettingButtons__6695b .button_c7b3ea {
    /*Edit channel buttons*/
    transition: filter 0.25s ease;
}
.channelSettingButtons__6695b .button_c7b3ea:hover {
    /*Edit channel buttons hover*/
    background: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.cozy_f5c119.wrapper_a62503.mentioned_fa6fd2,
.cozy_f5c119.wrapper_a62503.replying__38514 {
    /*Mentioned/Replying to message*/
    background-color: rgba(0, 0, 0, 0.05);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    box-shadow: -2px -3px 5px 1px rgb(0, 0, 0);
    border-top-right-radius: var(--main-radius);
}
.cozy_f5c119.wrapper_a62503.mentioned_fa6fd2::before,
.cozy_f5c119.wrapper_a62503.replying__38514::before {
    /*Mentioned/Replying to message vertical line*/
    background-color: rgb(var(--accent-color));
}
.modal_d2e7a7 .imageWrapper__178ee {
    /*Clicked image modal*/
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
}
.reaction_ef7e09 {
    /*Message reactions*/
    border: none;
    background-color: transparent;
    transition: 0.25s ease;
}
.reaction_ef7e09:hover {
    /*Message reactions hovered*/
    border: none;
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.reaction_ef7e09.reactionMe__9fc5c {
    /*Message reacted*/
    border: none;
    background-color: rgb(0, 0, 0, 0.35);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.container_cd7d9c {
    /*New channel message*/
    border-bottom: none;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.blockquoteDivider__5cbad {
    /*Chat quote*/
    background-color: rgb(var(--server-channel-textc));
}
.jumpToPresentBar__69174 {
    /*Jump to present bar*/
    bottom: 0.95%;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 90%;
    background: var(--popout-bg);
    background-color: transparent;
    box-shadow:
        -3px -4px 6px 3px black,
        -3px -4px 6px 3px black,
        -3px -4px 6px 3px black;
    opacity: 1;
}
.jumpToPresentBar__69174 button,
.newMessagesBar__8b272 button {
    /*Jump to present/New messges text*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.newMessagesBar__8b272 {
    /*New messages bar*/
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
.autocomplete__743a5 {
    /*Autocomplete modal*/
    bottom: 105%;
    background: transparent;
    background-color: transparent !important;
    box-shadow: -3px -4px 6px 3px black;
    border-radius: var(--window-border-radius);
}
.autocomplete__743a5::before {
    /*Autocomplete modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--window-border-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.autocomplete__743a5::after {
    /*Autocomplete modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--window-border-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.wrapper__35c78,
.wrapper__85934,
.wrapper__91b2c,
.categoryHeader__70c8e,
.bar-AokMp3 {
    /*Autocomplete subcontainers*/
    background-color: transparent;
}
.categoryHeader__70c8e {
    /*Category*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.categorySectionLast_bad02c .selectable-1MM9tu {
    /*Hovered autocompletion*/
    filter: opacity(0.35);
    transition: filter 0.25s ease;
}
.categorySectionLast_bad02c .selected-3H3-RC {
    /*Selected autocompletion*/
    background-color: transparent;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.wrapper_af65f8 {
    color: rgb(var(--server-channel-textc));
    filter: opacity(0.35);
    transition: filter 0.25s ease;
}
.wrapper_af65f8:hover {
    background-color: transparent;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.section__4da0b {
    /*Bot category hovered*/
    transition: filter 0.25s ease;
}
.section__4da0b:hover {
    /*Bot category hovered*/
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.section__4da0b foreignObject {
    /*Bot category hovered icon*/
    mask: none;
    border-radius: 50%;
}
.cozy_f5c119 .timestamp_c79dd2 {
    /*Timestamps/Edited text*/
    color: rgb(var(--server-channel-textc));
}
.wrapper__57349 {
    /*Follow chat container*/
    background-color: transparent;
}
.wrapper__57349 .content__98536 {
    /*Follow chat text*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.searchBar-zdmu7v {
    /*Search messages bar*/
    border: 2px solid rgba(var(--main-dark-color), 0.35);
    border-radius: var(--button-radius);
    background-color: transparent !important;
    transition: 0.25s ease;
    max-width: 180px;
}
.searchBar-zdmu7v:hover {
    /*Search messages bar*/
    border-color: rgba(var(--main-dark-color), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.searchBar-zdmu7v:focus-within {
    /*Search messages bar*/
    border-color: rgba(var(--main-dark-color), 0.8);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.search-1FM8Qc .DraftEditor-root .public-DraftEditorPlaceholder-root {
    /*Searchbar placeholder text*/
    color: rgba(var(--main-dark-color), 0.8);
    transition: 0.25s ease;
}
.search-1FM8Qc:hover .DraftEditor-root .public-DraftEditorPlaceholder-root,
.search-1FM8Qc:focus-within .DraftEditor-root .public-DraftEditorPlaceholder-root {
    /*Searchbar placeholder text*/
    color: rgba(var(--server-channel-textc), 1);
}
.container__84c26 {
    /*Search results modal*/
    border-radius: var(--main-radius);
    background-color: transparent !important;
    background: transparent;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569) !important;
}
.container__84c26::before {
    /*Search results modal*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.container__84c26::after {
    /*Search results modal*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.option-2KkUJO {
    /*Search results options*/
    filter: opacity(0.35);
    transition: 0.25s ease;
}
.option-2KkUJO.selected-rZcOL- {
    /*Search results hovered*/
    background-color: transparent !important;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.option-2KkUJO:after {
    /*Gradient after option*/
    display: none;
}
.resultsGroup-1BPR25:before {
    /*Divider*/
    display: none;
}
.resultsGroup-1BPR25 .header-3A13BX,
.resultsGroup-1BPR25 .plusIcon-2V7coV,
.resultsGroup-1BPR25 .searchClearHistory-2Be-92,
.resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
    /*Result options*/
    color: rgb(var(--server-channel-textc)) !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.queryContainer_c1cb2f {
    background-color: transparent !important;
    color: rgb(var(--server-channel-textc)) !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    border-bottom: none;
}
.autocompleteRow__2a1b9 .selected-3H3-RC {
    /*Autocomplete items*/
    transition: 0.25s ease;
}
.autocompleteRow__2a1b9 .selected-3H3-RC {
    /*Autocomplete hovered*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    background: transparent !important;
}
.divider__20bfc {
    /*Autocomplete divider*/
    display: none;
}
.contentTitle_b6c2bb {
    /*Matches*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.searchResultsWrap__2e184 {
    background-color: transparent;
    background: transparent;
}
.searchResultsWrap__2e184::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.searchResultsWrap__2e184::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.searchHeader__4d70e,
.searchResult__00093,
.channelName-3w2Y3c {
    background-color: transparent;
}
.tab-2j5AEF {
    color: rgb(var(--server-channel-textc)) !important;
    filter: opacity(0.35);
    transition: filter 0.25s ease;
}
.tab-2j5AEF:hover {
    background-color: transparent;
    color: rgb(var(--server-channel-textc)) !important;
    filter: opacity(0.65) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.tab-2j5AEF.selected-2LAck8 {
    background-color: transparent !important;
    color: rgb(var(--server-channel-textc)) !important;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.totalResults__8eee9,
.channelName-3w2Y3c {
    /*Text*/
    color: rgb(var(--server-channel-textc)) !important;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.searchFilter_dbda51 {
    /*Search filter*/
    border-radius: var(--button-radius);
    background-color: rgba(var(--accent-color), 0.55) !important;
}
.searchAnswer__2ccaf {
    /*Search results*/
    background-color: transparent !important;
}
.pageButton-1GMGeJ.activeButton-LRWFC_ {
    /*Result pages selected*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    color: rgb(var(--server-channel-textc)) !important;
    background-color: transparent !important;
}
.pageButton-1GMGeJ {
    /*Result pages*/
    transition: 0.25s ease;
    color: rgb(var(--server-channel-textc), 0.35) !important;
}
.pageButton-1GMGeJ:hover {
    /*Result pages hovered*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    color: rgb(var(--server-channel-textc), 0.65) !important;
    background-color: transparent !important;
}
.scroller__9a4f3,
.reactors__0f305 {
    /*Reactions modal*/
    background-color: transparent !important;
}
.reactorDefault__4b61e {
    /*Dividers*/
    box-shadow: unset !important;
}
.replyBar_ed6afc,
.threadSuggestionBar__717a3,
.attachedBars_c1606a {
    /*Replying to bar*/
    background-color: transparent;
}
