/*Server channels settings*/

.header__77c95 {
    /*Server name*/
    color: rgba(var(--server-channel-textc), 0.35);
    box-shadow: none;
    transition:
        filter 0.25s ease,
        color 0.25s ease;
}
.clickable__1383f:not(.selected__987e6) .header__77c95:hover {
    /*Server name hover*/
    color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.selected__987e6 .header__77c95 {
    /*Server name selected*/
    color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.containerDefault_e3b32b {
    /*Channel categories*/
    padding-top: 10px;
}
.containerDefault_e3b32b .wrapper__07e2f {
    /*Channel categories text*/
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.containerDefault_e3b32b .wrapper__07e2f .container__43554 {
    /*Channel category text*/
    font-size: 0.85rem;
}
.mainContent__2333c svg {
    /*Channel category collapsable arrow*/
    display: none;
}
.wrapper__612a5 .name__4eb92 {
    /*Channel name color*/
    color: rgb(var(--server-channel-textc)) !important;
}
.wrapper__612a5 {
    /*channel names*/
    transition: filter 0.35s ease;
}
.wrapper__612a5:not(.modeSelected__473f1):not(.modeUnreadImportant__35358) {
    /*Channel names*/
    filter: opacity(0.2);
}
.wrapper__612a5:not(.modeSelected__473f1):hover {
    /*Channel names hovered*/
    filter: opacity(0.35) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.wrapper__612a5.modeUnreadImportant__35358 {
    /*Channel name unread*/
    filter: opacity(0.45);
    transition: filter 0.35s ease;
}
.wrapper__612a5.modeUnreadImportant__35358:hover {
    /*Channel name unread hovered*/
    filter: opacity(0.65) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.wrapper__612a5.modeSelected__473f1 {
    /*Server selected channel text and icon*/
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
    transition: filter 0.35s ease;
}
@keyframes newUnreadChannel {
    0% {
        filter: opacity(0);
    }
    25% {
        filter: opacity(0.85);
    }
    50% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(0.85);
    }
}
.mainContent-20q_Hp[aria-label*="unread,"] .iconContainer__6a580::before {
    /*Unread messages in channel glow*/
    content: "";
    position: absolute;
    top: 35%;
    left: 40%;
    width: 5px;
    height: 5px;
    background-color: rgba(var(--server-channel-textc), 0.4);
    box-shadow:
        0px 0px 10px 3px rgb(var(--server-channel-textc)),
        0px 0px 0px 0px inset rgb(var(--server-channel-textc));
    animation: newUnreadChannel 1s ease;
    animation-fill-mode: forwards;
}
.audienceVoiceUserIconContainer-1aQGLF {
    /*Audience in channel icon*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.audienceVoiceUserText-2X-pFO {
    /*Audience in channel*/
    color: rgb(var(--server-channel-textc));
}
.listDefault__4e3fa .clickable_a2c5ad .content__3b07e .username_a42504 {
    /*People in channel name*/
    color: rgba(var(--server-channel-textc), 0.35) !important;
    transition: 0.25s ease;
}
.listDefault__4e3fa .clickable_a2c5ad:hover .content__3b07e .username_a42504 {
    /*People in channel name hovered*/
    color: rgba(var(--server-channel-textc), 0.65) !important;
}
.listDefault__4e3fa .clickable_a2c5ad.selected__80fc0 .content__3b07e .username_a42504 {
    /*Selecter user in channel name*/
    color: rgba(var(--server-channel-textc), 1) !important;
}
.listDefault__4e3fa .clickable_a2c5ad .content__3b07e {
    /*User in channel*/
    transition: 0.25s ease;
}
.listDefault__4e3fa .clickable_a2c5ad:hover .content__3b07e {
    /*User in channel shadow*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.listDefault__4e3fa .clickable_a2c5ad.selected__80fc0 .content__3b07e {
    /*Selected user in channel bg*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.channelNotice-2bJINM {
    /*Channel notice*/
    border-bottom: none;
}
.channelNotice-2bJINM > .textBlock-2FWDjE,
.channelNotice-2bJINM .eventName-2YgbEu {
    /*Channel notice text*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.subtitle_eb6026 {
    /*Channel subtitle*/
    color: rgb(var(--server-channel-textc));
}
.unread__75c9f {
    /*Unreads*/
    opacity: 1;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.unread__75c9f::before {
    /*Unreads background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.unread__75c9f::after {
    /*Unreads opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.unread__75c9f .text__50a62 {
    /*Unread text*/
    color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
