/*User status area*/

.panels__58331 {
    /*Main panel*/
    background-color: transparent;
}
.container_debb33 {
    /*Subcontainer*/
    margin-bottom: 22px;
}
.container_debb33 .button_ae40a4 {
    /*Mute/Deafen/Settings buttons*/
    color: rgb(var(--server-channel-textc));
    filter: opacity(0.2);
    transition: 0.25s ease;
}
.container_debb33 .button_ae40a4:hover {
    /*Mute/Deafen/Settings buttons*/
    filter: opacity(0.65) drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    background-color: transparent;
}
.container_debb33 .button_ae40a4[aria-checked="true"] {
    /*Mute/Deafen/Settings buttons checked*/
    filter: opacity(1) drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.container_debb33 .button_ae40a4 .strikethrough__7b742 {
    /*Mute/Deafen strikethrough*/
    color: rgb(var(--accent-color));
}
.container_e1958d,
.activityPanel_b73e7a,
.listeningAlong_a3b241 {
    /*Connected to server / User activity*/
    border-bottom: none;
}
.connection__38593,
.voiceUsers__665a5,
.activityPanel_b73e7a,
.listeningAlong_a3b241 {
    /*Connected to server text*/
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.button_ae40a4 {
    /*Buttons*/
    color: rgba(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.button_ae40a4.enabled__214db:hover {
    /*Buttons hovered*/
    background-color: transparent;
    color: rgba(var(--server-channel-textc), 1);
}

#status-picker.menu__088f7 {
    /*Select status menu*/
    transform-origin: bottom;
}
