/*DM panel*/

.searchBar__621ec {
    /*DM Searchbar*/
    box-shadow: none;
}
.privateChannels__9b518 .searchBar__621ec .searchBarComponent__8f95f {
    /*DM searchbar*/
    background-color: transparent;
    color: rgb(var(--server-channel-textc), 1);
}
.privateChannels__9b518 .searchBar__621ec {
    /*DM searchbar*/
    border: 2px solid rgba(var(--server-channel-textc), 0.35);
    border-radius: var(--button-radius);
    height: fit-content;
    margin-top: 10px;
    transition: 0.25s ease;
}
.privateChannelsHeaderContainer_b22dc9 {
    /*Direct message header*/
    filter: opacity(0.2);
    color: rgb(var(--server-channel-textc));
    transition: 0.25s ease;
}
.privateChannelsHeaderContainer_b22dc9:hover {
    /*Direct message header*/
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    color: rgb(var(--server-channel-textc));
}
.privateChannels__9b518 .searchBar__621ec:hover {
    /*DM searchbar*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.privateChannels__9b518 .container_a48b21 .content_e8a0d1,
.privateChannels__9b518 .container_a48b21 .linkButtonIcon_cff89e {
    /*DM channel*/
    filter: opacity(0.2);
    color: rgb(var(--server-channel-textc));
}
.privateChannels__9b518 .container_a48b21 .avatar__6337f,
.privateChannels__9b518 .container_a48b21 .content_e8a0d1,
.privateChannels__9b518 .container_a48b21 .linkButtonIcon_cff89e {
    /*DM channel subcontainer*/
    transition: 0.35s ease;
}
.privateChannels__9b518 .container_a48b21:not(.selected__7f4cb):hover .content_e8a0d1 {
    /*DM channel hovered name*/
    filter: opacity(0.65) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    color: rgb(var(--server-channel-textc));
}
.privateChannels__9b518 .container_a48b21:not(.selected__7f4cb):hover .avatar__6337f {
    /*DM channel hovered name*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.privateChannels__9b518 .container_a48b21:hover .linkButtonIcon_cff89e {
    /*DM channel icons hovered*/
    filter: opacity(0.65);
}
.privateChannels__9b518 .container_a48b21.selected__7f4cb .content_e8a0d1 {
    /*DM channel selected*/
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    color: rgb(var(--server-channel-textc));
}
.privateChannels__9b518 .container_a48b21.selected__7f4cb .avatar__6337f {
    /*DM channel hovered name*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.privateChannels__9b518 .container_a48b21.selected__7f4cb .linkButtonIcon_cff89e {
    /*DM channel icons selected*/
    filter: opacity(1);
}
.privateChannels__9b518 .selected__7f4cb .layout_bb8e67,
.privateChannels__9b518 .container_a48b21:not(.selected__7f4cb):hover .layout_bb8e67 {
    /*DM channel selected/hovered background*/
    background-color: transparent;
}
.quickswitcher_b5bb0a {
    /*Ctrl+K modal*/
    background-color: transparent;
    box-shadow: -3px -6px 10px 10px rgba(0, 0, 0, 0.569);
}
.quickswitcher_b5bb0a::before {
    /*Ctrl+K modal background*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background: var(--popout-bg) center/cover no-repeat;
    filter: blur(var(--popout-blur));
    z-index: -2;
}
.quickswitcher_b5bb0a::after {
    /*Ctrl+K modal opacity*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--main-radius);
    background-color: rgba(0, 0, 0, var(--popout-opacity));
    z-index: -1;
}
.input__2a648 {
    /*Ctrl+K modal searchbar*/
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgba(var(--server-channel-textc), 0.35);
    border-radius: var(--button-radius);
    transition: 0.25s ease;
}
.input__2a648:hover {
    /*Ctrl+K modal searchbar hovered*/
    border-color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.input__2a648:focus-within {
    /*Ctrl+K modal searchbar focused*/
    border-color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.scroller_d4b86c {
    /*Ctrl+K modal footer*/
    background-color: transparent;
}
.scroller_d4b86c .contentDefault_d3a863 {
    /*Ctrl+K result*/
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.scroller_d4b86c .contentUnread_cd86ef {
    /*Ctrl+K result unread*/
    color: rgb(var(--server-channel-textc), 0.65);
}
.scroller_d4b86c .resultFocused-3aIoYe .contentDefault_d3a863,
.scroller_d4b86c .resultFocused-3aIoYe .contentUnread_cd86ef {
    /*Ctrl+K result hovered text*/
    color: rgb(var(--server-channel-textc), 1);
}
.scroller_d4b86c .resultFocused-3aIoYe {
    /*Ctrl+K result hovered*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    transition: 0.25s ease;
}
.scroller_d4b86c .content-2a4AW9 div[style="height: 15px;"] {
    height: 0px !important;
}
.scroller_d4b86c::-webkit-scrollbar-track {
    /*Ctrl+K scrollbar*/
    background-color: transparent !important;
}
