/*Friends Window*/

.peopleList_d2f527 .title_c42cad {
    /*Friends status title*/
    text-align: center;
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
    font-size: 0.85rem;
    grid-area: header;
}
.container_bd15da .toolbar__62fb5, /*Inbox, help, etc container*/
.headerBarContainer-31FKNA .toolbar__62fb5 {
    /*Stage modal toolbar*/
    position: absolute;
    right: 8.506%;
    transform: translateX(-8.506%);
}
.tabBody_a90ea8:before {
    /*Box shadow after Online, All, etc buttons*/
    box-shadow: none;
}
.peopleList_d2f527 {
    /*Main friends modal*/
    margin: 0 20px 0 20px;
}
.peopleList_d2f527 > div {
    /*Grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    grid-template-areas: "header header header";
    padding: 0 10px 0 10px;
}
.peopleList_d2f527 .title_c42cad {
    /*Online friends etc position*/
    grid-area: header;
}
.peopleListItem_dab480 {
    /*Friends main container*/
    border-top: none;
    height: 125px !important;
    border-radius: 8px;
    border: 1.5px solid rgba(var(--server-channel-textc), 0.55);
    margin-left: 0;
    margin-right: 0;
    transition: 0.25s ease;
}
.peopleListItem_dab480:hover,
.peopleListItem_dab480.active__6b8ff {
    /*Friends main container hovered/active*/
    margin: unset;
    padding: unset;
    background-color: transparent;
    border: 2px solid rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px black) drop-shadow(-2px 0px 1px black);
}
.peopleListItem_dab480.active__6b8ff + .peopleListItem_dab480,
.peopleListItem_dab480:hover + .peopleListItem_dab480 {
    /*Card after selected/hovered one*/
    border-color: rgba(var(--server-channel-textc), 0.55);
}
.peopleListItem_dab480 .actions_bd37ed .actionButton__2b4bb,
.peopleListItem_dab480 .userInfo__83819 {
    /*Friend card info transition*/
    transition: 0.25s ease;
}
.peopleListItem_dab480 .userInfo__83819 {
    /*Friend card info*/
    margin-left: 5px;
    max-width: 230px;
}
.peopleListItem_dab480:hover .userInfo__83819 {
    /*Friend card info*/
    margin-left: 5px;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.peopleListItem_dab480 .actions_bd37ed {
    /*Friend card buttons*/
    margin-right: 5px;
}
.peopleListItem_dab480 .actions_bd37ed .actionButton__2b4bb,
.peopleListItem_dab480:hover .actions_bd37ed .actionButton__2b4bb {
    /*Friend card buttons container*/
    background-color: transparent;
}
.peopleListItem_dab480:hover .actions_bd37ed .actionButton__2b4bb {
    /*Friend card buttons container*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.content__76dcf .container_bd15da .children_cde9af > .iconWrapper_de6cd1 .icon_ae0b42,
.content__76dcf .container_bd15da .base-21yXnu {
    /*Friends text/icon*/
    color: rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.content__76dcf .children_cde9af .tabBar__73938 .item_e4ca95 {
    /*Friends status tab*/
    color: rgba(var(--server-channel-textc), 1);
    transition: 0.25s ease;
}
.content__76dcf .children_cde9af .tabBar__73938 .item_e4ca95:hover {
    /*Friends status tab hovered*/
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.content__76dcf .children_cde9af .tabBar__73938 .selected_a523ff.item_e4ca95 {
    /*Friends status tab selected*/
    border-bottom: 3px solid rgb(var(--server-channel-textc));
    border-radius: 0px;
    background-color: transparent;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.topPill__63ad4 .item__48dda[aria-controls="add_friend-tab"] {
    /*Add friend tab*/
    color: rgba(var(--server-channel-textc), 1) !important;
    background-color: transparent !important;
    transition: 0.25s ease;
}
.topPill__63ad4 .item__48dda[aria-controls="add_friend-tab"]:hover {
    /*Add friend tab hovered */
    color: rgba(var(--server-channel-textc), 1) !important;
    background-color: transparent !important;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.topPill__63ad4 .item__48dda[aria-controls="add_friend-tab"][aria-selected="true"] {
    /*Add friend tab selected*/
    color: rgba(var(--server-channel-textc), 1) !important;
    border-radius: 0px;
    border-bottom: 3px solid rgb(var(--server-channel-textc));
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.sectionHeader-20RGqu {
    /*Add friends window line*/
    border-color: transparent !important;
}
.wrapper-1cBijl {
    /*Add friend username input*/
    background-color: transparent;
    border-radius: var(--button-radius);
    border-color: rgba(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.wrapper-1cBijl:hover {
    /*Add friend username input hovered*/
    border-color: rgba(var(--server-channel-textc), 0.65);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.wrapper-1cBijl .lookFilled__950dd.colorBrand__27d57 {
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
    transition: 0.25s ease;
}
.wrapper-1cBijl:focus-within {
    /*Add friend username input focused*/
    border-color: rgba(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.addFriendInput__12af4,
.addFriendInput__12af4::placeholder {
    /*Add friend text*/
    color: rgb(var(--server-channel-textc));
}
.actionButton__2b4bb,
.actionButton__2b4bb.highlight__57b9f {
    /*Blocked button*/
    background-color: transparent;
}
.wrapper__6bf2d.minimum__7f356 {
    background-color: transparent;
}
