/*Button settings*/

.lookFilled-yCfaCM.colorGreen-3y-Z79,
.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorRed-rQXKgM,
.lookOutlined-3yKVGo.colorRed-rQXKgM,
.lookOutlined-3yKVGo.colorBrand-I6CyqQ,
.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.lookOutlined-3yKVGo.colorPrimary-2AuQVo,
.lookInverted-2mDUMi.colorGreen-3y-Z79,
.buttonInvertedPurple-WtBglX,
.lookOutlined-3yKVGo.colorGreen-3y-Z79 { /*Buttons main settings*/
    border-radius: var(--button-radius);
    border: 1px solid;
    color: rgb(var(--server-channel-textc))!important;
    background-color: transparent;
    filter: opacity(0.35);
    transition: filter  0.25s ease;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover,
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover,
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover,
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover,
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover,
.lookInverted-2mDUMi.colorGreen-3y-Z79:hover,
.buttonInvertedPurple-WtBglX:hover,
.lookOutlined-3yKVGo.colorGreen-3y-Z79:hover { /*Hovered buttons main settings*/
    background-color: transparent!important;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorWhite-1H92hK  { /*Discord nitro gift grey button*/
    border-radius: var(--button-radius);
    border: 1px solid;
    color: rgb(var(--server-channel-textc))!important;
    background-color: transparent!important;
    filter: opacity(0.55);
    transition: filter  0.25s ease;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.lookFilled-yCfaCM.colorWhite-1H92hK:hover { /*Discord nitro gift grey button hovered*/
    background-color: transparent!important;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.lookFilled-yCfaCM.colorRed-rQXKgM,
.lookOutlined-3yKVGo.colorRed-rQXKgM { /*Different red buttons*/
    border-color: red;
    color: red!important;
}
.lookFilled-yCfaCM.colorGrey-2iAG-B { /*Different grey buttons*/
    background-color: transparent!important;
    border-color: rgb(var(--server-channel-textc));
}
.lookLink-15mFoz.colorPrimary-2AuQVo .contents-3ca1mk { /*Cancel button*/
    color: rgb(var(--server-channel-textc))!important;
    filter: opacity(0.35);
    transition: filter  0.25s ease;
}
.lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk:hover { /*Cancel button*/
    color: rgb(var(--server-channel-textc));
    background-image: none;
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background-color: transparent;
}
.title-31SJ6t .children-3xh0VB .iconWrapper-2awDjA .icon-2xnN2Y { /*Channel description icon*/
    color: rgb(var(--server-channel-textc));
}
.lookLink-15mFoz.colorBrand-I6CyqQ { /*No thanks button*/
    filter: opacity(0.35);
    transition: 0.25s ease;
}
.lookLink-15mFoz.colorBrand-I6CyqQ:hover { /*No thanks button hovered*/
    filter: opacity(1) drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.lookLink-15mFoz.colorBrand-I6CyqQ:hover .contents-3ca1mk { /*No thanks button underline*/
    background: none;
}
.lookOutlined-3yKVGo.colorWhite-1H92hK { /*Activity buttons*/
    border-radius: var(--button-radius);
    color: rgb(var(--server-channel-textc), 0.65);
    border-color: rgb(var(--server-channel-textc), 0.65);
    transition: .25s ease;
}
.lookOutlined-3yKVGo.colorWhite-1H92hK:hover { /*Activity buttons*/
    color: rgb(var(--server-channel-textc), 1);
    border-color: rgb(var(--server-channel-textc), 1);
}
.lookOutlined-3yKVGo.colorWhite-1H92hK:disabled { /*Disabled activity button*/
    color: rgb(var(--server-channel-textc), 0.25);
    border-color: rgb(var(--server-channel-textc), 0.25);
}
.colorable-3rVGna.primaryDark-2UJt1G { /*Raise hand button*/    
    background-color: transparent;
    color: rgb(var(--server-channel-textc), 0.35);
    transition: 0.25s ease;
}
.colorable-3rVGna.primaryDark-2UJt1G:hover { /*Raise hand button*/    
    background-color: transparent;
    color: rgb(var(--server-channel-textc), 1);
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.button-1EGGcP.buttonColor-3bP3fX.fauxDisabled-8w0hCZ, 
.button-1EGGcP .buttonColor-3bP3fX.fauxDisabled-8w0hCZ, 
.button-1EGGcP.buttonColor-3bP3fX:disabled, .button-1EGGcP 
.buttonColor-3bP3fX:disabled { /*Disabled buttons*/
    background-color: transparent;
}
.title-31SJ6t .topic-11NuQZ { /*Channel description*/
    color: rgb(var(--server-channel-textc));
}
.title-31SJ6t .children-3xh0VB { /*Top bar tooltip buttons*/
    transition: 0.25s ease;
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0));
}
.title-31SJ6t:hover .children-3xh0VB { /*Top bar tooltip buttons hovered*/
    filter: drop-shadow(-3px -1px 1px rgb(0, 0, 0)) drop-shadow(-2px 0px 1px rgb(0, 0, 0));
}
.content-3UQcSo+.footer-31IekZ .button-f2h6uQ .contents-3ca1mk { /*Can't find camera button*/
    color: rgb(var(--server-channel-textc), 1);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, 
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx { /*Streamming buttons*/
    background-color: transparent;
}
.upsellButton-1QHAmZ { /*Nitro buttons*/
    color: rgb(var(--server-channel-textc));
}